In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import os
import openpyxl
import re

In [4]:
df = pd.read_excel("C://Users//easya//Workspace//HK_Project//data//kospi_ROE_11_upper.xlsx")
df.head()

   Unnamed: 0      종목명    종목코드  2017  2018  2019  2020  2021  average     산업
0          21   LG생활건강   51900  21.9  21.0  20.3  17.9  16.7    19.56     화학
1          36    엔씨소프트   36570  19.1  16.4  14.7  20.8  11.7    16.54   서비스업
2          62      코웨이   21240  30.1  33.8  30.7  31.5  30.6    31.34   서비스업
3          64     금호석유   11780  12.3  23.5  11.8  20.2  55.9    24.74     화학
4          66  메리츠금융지주  138040  19.4  13.9  15.3  16.1  22.5    17.44  기타금융업

In [5]:
df.drop(columns=["Unnamed: 0"], inplace=True)
df.head()

       종목명    종목코드  2017  2018  2019  2020  2021  average     산업
0   LG생활건강   51900  21.9  21.0  20.3  17.9  16.7    19.56     화학
1    엔씨소프트   36570  19.1  16.4  14.7  20.8  11.7    16.54   서비스업
2      코웨이   21240  30.1  33.8  30.7  31.5  30.6    31.34   서비스업
3     금호석유   11780  12.3  23.5  11.8  20.2  55.9    24.74     화학
4  메리츠금융지주  138040  19.4  13.9  15.3  16.1  22.5    17.44  기타금융업

In [6]:
df1 = df.copy()

In [7]:
df1["산업"].unique()

array(['화학', '서비스업', '기타금융업', '보험업', '전기전자', '음식료품', '건설업'], dtype=object)

- ROE 5개년 15이상 기업 분류 > 산업별 분류 결과
    - 서비스업 > 화학 = 기타금융업 > 건설업 > 보험업 > 전기전자 > 음식료품

In [8]:
df1["산업"].value_counts()

서비스업     6
화학       5
기타금융업    5
건설업      2
보험업      1
전기전자     1
음식료품     1
Name: 산업, dtype: int64

In [9]:
df1[df1["산업"] == "기타금융업"]

        종목명    종목코드  2017  2018  2019  2020   2021  average     산업
4   메리츠금융지주  138040  19.4  13.9  15.3  16.1   22.5    17.44  기타금융업
6    한국금융지주   71050  14.1  13.0  18.1  16.3   30.7    18.44  기타금융업
11   F&F홀딩스    7700  28.7  31.6  25.1  16.6  204.3    61.26  기타금융업
15   한국자산신탁  123890  27.1  18.5  14.2  18.2   13.2    18.24  기타금융업
20  에이플러스에셋  244920  24.9  24.7  22.9  29.7   16.8    23.80  기타금융업

In [10]:
df1[df1["산업"] == "서비스업"]

      종목명    종목코드  2017  2018  2019  2020  2021  average    산업
1   엔씨소프트   36570  19.1  16.4  14.7  20.8  11.7    16.54  서비스업
2     코웨이   21240  30.1  33.8  30.7  31.5  30.6    31.34  서비스업
8    제일기획   30000  15.8  15.0  15.1  16.1  17.4    15.88  서비스업
10  더존비즈온   12510  23.5  23.4  18.8  15.1  12.5    18.66  서비스업
16   한전산업  130660  20.4  16.5  21.0  16.2  20.6    18.94  서비스업
19  효성ITX   94280  16.5  13.7  21.8  25.2  22.6    19.96  서비스업

In [11]:
df1[df1["산업"] == "건설업"]

     종목명   종목코드  2017  2018  2019  2020  2021  average   산업
14  DL건설   1880  22.2  18.7  23.0  23.7  20.0    21.52  건설업
18  계룡건설  13580  16.7  24.5  16.9  18.7  20.3    19.42  건설업

In [12]:
df1[df1["산업"] == "전기전자"]

     종목명  종목코드  2017  2018  2019  2020  2021  average    산업
7  DB하이텍   990  27.6  17.1  17.4  23.1  30.0    23.04  전기전자

In [13]:
df1[df1["산업"] == "화학"]

       종목명   종목코드  2017  2018  2019  2020  2021  average  산업
0   LG생활건강  51900  21.9  21.0  20.3  17.9  16.7    19.56  화학
3     금호석유  11780  12.3  23.5  11.8  20.2  55.9    24.74  화학
9    한솔케미칼  14680  18.0  20.1  20.9  24.5  27.5    22.20  화학
12    미원상사   2840  14.9  11.4  14.7  21.1  22.1    16.84  화학
17   한국쉘석유   2960  24.6  25.1  21.3  21.4  30.8    24.64  화학