In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import os
import openpyxl
import re

In [9]:
df = pd.read_excel("../data/kospi_ROE_11_upper.xlsx")
df.head()

   Unnamed: 0      종목명    종목코드  2017  2018  2019  2020  2021  average     산업
0          21   LG생활건강   51900  21.9  21.0  20.3  17.9  16.7    19.56     화학
1          36    엔씨소프트   36570  19.1  16.4  14.7  20.8  11.7    16.54   서비스업
2          62      코웨이   21240  30.1  33.8  30.7  31.5  30.6    31.34   서비스업
3          64     금호석유   11780  12.3  23.5  11.8  20.2  55.9    24.74     화학
4          66  메리츠금융지주  138040  19.4  13.9  15.3  16.1  22.5    17.44  기타금융업

In [10]:
df.drop(columns=["Unnamed: 0"], inplace=True)
df.head()

       종목명    종목코드  2017  2018  2019  2020  2021  average     산업
0   LG생활건강   51900  21.9  21.0  20.3  17.9  16.7    19.56     화학
1    엔씨소프트   36570  19.1  16.4  14.7  20.8  11.7    16.54   서비스업
2      코웨이   21240  30.1  33.8  30.7  31.5  30.6    31.34   서비스업
3     금호석유   11780  12.3  23.5  11.8  20.2  55.9    24.74     화학
4  메리츠금융지주  138040  19.4  13.9  15.3  16.1  22.5    17.44  기타금융업

In [11]:
df1 = df.copy()

In [13]:
df1["산업"].unique()

array(['화학', '서비스업', '기타금융업', '보험업', '전기전자', '음식료품', '건설업'], dtype=object)

- ROE 5개년 15이상 기업 분류 > 산업별 분류 결과
    - 서비스업 > 화학 = 기타금융업 > 건설업 > 보험업 > 전기전자 > 음식료품

In [18]:
df1["산업"].value_counts()

서비스업     6
화학       5
기타금융업    5
건설업      2
보험업      1
전기전자     1
음식료품     1
Name: 산업, dtype: int64