In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [27]:
df = pd.read_csv("2020_1분기보고서_02_손익계산서_연결_20211104.txt",sep = '\t', encoding="EUC-KR")
df = df[["종목코드", "회사명", "업종", "업종명", "항목명", "당기 1분기 3개월"]]
df.head()

       종목코드 회사명   업종     업종명      항목명         당기 1분기 3개월
0  [001040]  CJ  649  기타 금융업  수익(매출액)  7,840,010,949,000
1  [001040]  CJ  649  기타 금융업     매출원가  5,769,419,176,000
2  [001040]  CJ  649  기타 금융업    매출총이익  2,070,591,773,000
3  [001040]  CJ  649  기타 금융업  판매비와관리비  1,806,327,493,000
4  [001040]  CJ  649  기타 금융업     영업이익    264,264,280,000

In [28]:
df.shape

(3669, 6)

In [29]:
df.dropna(inplace=True)

In [30]:
df["종목코드"] = df["종목코드"].apply(lambda x : x.replace("[",""))
df["종목코드"] = df["종목코드"].apply(lambda x : x.replace("]",""))
df['항목명'] = df['항목명'].str.replace('[^가-힣 ]', '')
df['항목명'] = df['항목명'].apply(lambda x : x.strip())

In [31]:
df["항목명"] = df["항목명"].apply(lambda x : x.replace("수익매출액","매출"))
df["항목명"] = df["항목명"].str.replace("매출액", "매출")
df["항목명"] = df["항목명"].str.replace("영업수익", "매출")
df["항목명"] = df["항목명"].str.replace("매출 및 지분법 손익", "매출")
df["항목명"] = df["항목명"].str.replace("매출 및 지분법손익", "매출")
df["항목명"] = df["항목명"].str.replace("수익순매출", "매출")
df["항목명"] = df["항목명"].str.replace("영업매출", "매출")

In [32]:
df["항목명"] = df["항목명"].str.replace("영업이익손실", "영업이익")
df["항목명"] = df["항목명"].str.replace("영업이익 손실", "영업이익")
df["항목명"] = df["항목명"].str.replace("영업손실", "영업이익")

In [33]:
df["항목명"] = df["항목명"].str.replace("분기순이익", "당기순이익")
df["항목명"] = df["항목명"].str.replace("분기순이익손실", "당기순이익")
df["항목명"] = df["항목명"].str.replace("분기기순이익손실", "당기순이익")
df["항목명"] = df["항목명"].str.replace("분기순손익", "당기순이익")
df["항목명"] = df["항목명"].str.replace("분기순손실", "당기순이익")
df["항목명"] = df["항목명"].str.replace("연결당기순이익", "당기순이익")
df["항목명"] = df["항목명"].str.replace("당기순손실", "당기순이익")
df["항목명"] = df["항목명"].str.replace("당기순이익손실", "당기순이익")

In [34]:
df.head()

     종목코드 회사명   업종     업종명      항목명         당기 1분기 3개월
0  001040  CJ  649  기타 금융업       매출  7,840,010,949,000
1  001040  CJ  649  기타 금융업     매출원가  5,769,419,176,000
2  001040  CJ  649  기타 금융업    매출총이익  2,070,591,773,000
3  001040  CJ  649  기타 금융업  판매비와관리비  1,806,327,493,000
4  001040  CJ  649  기타 금융업     영업이익    264,264,280,000

In [35]:
df.shape

(3248, 6)

In [36]:
df['종목코드'].nunique()

163

In [37]:
a = ["매출","영업이익","당기순이익"]
df = df[df["항목명"].isin(a)]

In [38]:
df.shape

(490, 6)

In [39]:
df.head(10)

      종목코드     회사명   업종          업종명    항목명         당기 1분기 3개월
0   001040      CJ  649       기타 금융업     매출  7,840,010,949,000
4   001040      CJ  649       기타 금융업   영업이익    264,264,280,000
12  001040      CJ  649       기타 금융업  당기순이익    363,294,726,000
19  000120  CJ대한통운  493    도로 화물 운송업     매출  2,515,360,835,746
23  000120  CJ대한통운  493    도로 화물 운송업   영업이익     58,188,336,853
31  000120  CJ대한통운  493    도로 화물 운송업  당기순이익     11,358,457,129
37  000990   DB하이텍  261      반도체 제조업     매출    225,803,046,210
41  000990   DB하이텍  261      반도체 제조업   영업이익     64,743,306,581
52  000990   DB하이텍  261      반도체 제조업  당기순이익     55,064,822,116
59  155660     DSR  242  1차 비철금속 제조업     매출     58,371,431,230

In [40]:
df.to_excel("손익계산서01.xlsx")

In [41]:
df['회사명'].value_counts()

SK텔레콤       4
플랜티넷        4
한진중공업홀딩스    4
영원무역        3
에스제이엠       3
           ..
램테크놀러지      3
매일유업        3
휘닉스소재       3
예림당         2
현대백화점       2
Name: 회사명, Length: 163, dtype: int64

In [42]:
df.isna().sum()

종목코드          0
회사명           0
업종            0
업종명           0
항목명           0
당기 1분기 3개월    0
dtype: int64