- 테스트 확인 완료

In [4]:
import pandas as pd

In [1]:
import sqlite3

In [7]:
import openpyxl

In [2]:
con = sqlite3.connect("C:/Workspace/HK_Project/4_DB(sqlite3)/db/test2.db")

In [9]:
df_kospi = pd.read_excel("C:\Workspace\HK_Project\data\KOSPI_완료.xlsx", engine='openpyxl')
df_kospi.head()

,Unnamed: 0,종목명,종목코드,시가총액,매출액,현금흐름,PER,ROE,ROA,PBR,PSR,PCR
0,0,삼성전자,5930,4351971,2796048,651054.5,12.62,13.92,9.92,1.67,1.556472,6.684496
1,1,SK하이닉스,660,939123,319004,123145.7,11.66,9.53,6.98,1.51,2.943922,7.626113
2,2,NAVER,35420,533980,53041,14472.1,3.22,15.22,5.77,2.05,10.067306,36.897202
3,3,카카오,35720,430799,41568,9711.0,38.03,2.70,1.68,4.76,10.363717,44.361961
4,4,LG화학,51910,393905,300765,58408.3,14.54,2.93,1.81,2.04,1.309677,6.743990

In [11]:
df_kospi.to_sql('df_kospi', con)

- DB Browser for SQLite > df_kospi 우클릭 > 테이블 보기