- 테스트 확인 완료

In [1]:
import pandas as pd
import sqlite3
import openpyxl

In [52]:
# pip install plotly

Collecting plotly
  Downloading plotly-5.6.0-py2.py3-none-any.whl (27.7 MB)
     --------------------------------------- 27.7/27.7 MB 12.1 MB/s eta 0:00:00
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from plotly) (1.15.0)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.6.0 tenacity-8.0.1
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -autifulsoup4 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -eautifulsoup4 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -autifulsoup4 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -autifulsoup4 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -eautifulsoup4 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -autifulsoup4 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -autifulsoup4 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -eautifulsoup4 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -autifulsoup4 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -autifulsoup4 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -eautifulsoup4 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -autifulsoup4 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -autifulsoup4 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -eautifulsoup4 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -autifulsoup4 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -autifulsoup4 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -eautifulsoup4 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -autifulsoup4 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -autifulsoup4 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -eautifulsoup4 (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -autifulsoup4 (c:\programdata\anaconda3\lib\site-packages)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import plotly.express as px

In [50]:
import matplotlib.font_manager as fm

font_list = [font.name for font in fm.fontManager.ttflist]
font_list

['cmss10',
 'STIXNonUnicode',
 'DejaVu Sans Display',
 'DejaVu Serif Display',
 'cmmi10',
 'cmsy10',
 'DejaVu Sans Mono',
 'DejaVu Sans Mono',
 'DejaVu Serif',
 'STIXSizeFiveSym',
 'STIXSizeOneSym',
 'DejaVu Serif',
 'STIXSizeThreeSym',
 'STIXSizeFourSym',
 'DejaVu Serif',
 'STIXNonUnicode',
 'STIXGeneral',
 'DejaVu Sans Mono',
 'DejaVu Sans',
 'cmex10',
 'cmtt10',
 'STIXSizeTwoSym',
 'STIXSizeTwoSym',
 'cmr10',
 'STIXSizeOneSym',
 'STIXNonUnicode',
 'STIXGeneral',
 'DejaVu Sans',
 'DejaVu Sans',
 'DejaVu Serif',
 'STIXGeneral',
 'STIXGeneral',
 'DejaVu Sans Mono',
 'cmb10',
 'STIXNonUnicode',
 'STIXSizeFourSym',
 'STIXSizeThreeSym',
 'DejaVu Sans',
 'Leelawadee UI',
 'Bodoni MT',
 'Garamond',
 'High Tower Text',
 'Niagara Solid',
 'Tw Cen MT Condensed',
 'Ebrima',
 'Calisto MT',
 'Candara',
 'Gill Sans MT',
 'Franklin Gothic Book',
 'Candara',
 'HYGothic-Medium',
 'Centaur',
 'Segoe UI Historic',
 'Segoe UI',
 'Consolas',
 'Perpetua Titling MT',
 'Malgun Gothic',
 'Lucida Sans',
 'Calibri',
 'MoeumT R',
 'Yet R',
 'Javanese Text',
 'Segoe UI',
 'Curlz MT',
 'Eras Medium ITC',
 'Segoe UI',
 'HYPost-Light',
 'Book Antiqua',
 'Pristina',
 'Gill Sans MT Condensed',
 'Juice ITC',
 'Magic R',
 'Lucida Sans Typewriter',
 'Yu Gothic',
 'Consolas',
 'Leelawadee UI',
 'Informal Roman',
 'Headline R',
 'Papyrus',
 'Palatino Linotype',
 'Microsoft YaHei',
 'Candara',
 'Trebuchet MS',
 'Bookshelf Symbol 7',
 'HYPost-Medium',
 'Copperplate Gothic Light',
 'SimSun',
 'Californian FB',
 'Informal Roman',
 'Myanmar Text',
 'Arial',
 'Garamond',
 'Candara',
 'Lucida Fax',
 'Bodoni MT',
 'Microsoft JhengHei',
 'Segoe UI Emoji',
 'Agency FB',
 'Courier New',
 'Perpetua',
 'Segoe UI',
 'Onyx',
 'Maiandra GD',
 'Microsoft Himalaya',
 'Candara',
 'Imprint MT Shadow',
 'Century Gothic',
 'Lucida Handwriting',
 'Pyunji R',
 'Microsoft Yi Baiti',
 'Bradley Hand ITC',
 'Dubai',
 'Forte',
 'Yu Gothic',
 'Bodoni MT',
 'Microsoft Sans Serif',
 'Century Schoolbook',
 'Yu Gothic',
 'Rockwell Condensed',
 'Dubai',
 'Calibri',
 'Symbol',
 'Berlin Sans FB Demi',
 'Ebrima',
 'Book Antiqua',
 'Tw Cen MT',
 'SimSun-ExtB',
 'Tw Cen MT',
 'Gill Sans MT',
 'Corbel',
 'Courier New',
 'Lucida Sans Typewriter',
 'Dubai',
 'Stencil',
 'HYPMokGak-Bold',
 'Lucida Fax',
 'Algerian',
 'Ami R',
 'Britannic Bold',
 'Cooper Black',
 'Leelawadee UI',
 'Lucida Fax',
 'Ink Free',
 'Rage Italic',
 'Segoe UI',
 'Bell MT',
 'Freestyle Script',
 'Times New Roman',
 'Comic Sans MS',
 'Playbill',
 'Ravie',
 'Calisto MT',
 'Parchment',
 'Harrington',
 'Perpetua',
 'Sitka Small',
 'Yu Gothic',
 'Curlz MT',
 'Gill Sans Ultra Bold',
 'Perpetua',
 'Algerian',
 'Courier New',
 'Bodoni MT',
 'Microsoft New Tai Lue',
 'Freestyle Script',
 'Yu Gothic',
 'Showcard Gothic',
 'HYGraphic-Medium',
 'Lucida Sans Typewriter',
 'Bahnschrift',
 'Engravers MT',
 'Courier New',
 'Lucida Sans Unicode',
 'Cambria',
 'Book Antiqua',
 'Bauhaus 93',
 'Tw Cen MT',
 'Consolas',
 'Malgun Gothic',
 'Times New Roman',
 'Nirmala UI',
 'Perpetua Titling MT',
 'Segoe UI Symbol',
 'Garamond',
 'Baskerville Old Face',
 'MingLiU-ExtB',
 'Franklin Gothic Demi',
 'Microsoft PhagsPa',
 'Segoe UI',
 'Rage Italic',
 'Arial',
 'Century',
 'Rockwell Extra Bold',
 'Perpetua Titling MT',
 'Perpetua',
 'Segoe UI',
 'HYPost-Medium',
 'Bodoni MT',
 'Yu Gothic',
 'Lucida Fax',
 'HYSinMyeongJo-Medium',
 'Nirmala UI',
 'Garamond',
 'Goudy Old Style',
 'Sitka Small',
 'Dubai',
 'Perpetua',
 'Elephant',
 'Century',
 'Calisto MT',
 'Comic Sans MS',
 'Franklin Gothic Book',
 'Times New Roman',
 'Microsoft Tai Le',
 'Bookman Old Style',
 'Lucida Sans',
 'Yu Gothic',
 'Bradley Hand ITC',
 'Georgia',
 'Segoe Script',
 'Segoe UI Historic',
 'HoloLens MDL2 Assets',
 'Nirmala UI',
 'Trebuchet MS',
 'Gill Sans MT',
 'Bauhaus 93',
 'Gill Sans MT',
 'Leelawadee UI',
 'Gadugi',
 'Wingdings',
 'Arial',
 'Segoe Print',
 'Segoe UI',
 'Tw Cen MT',
 'Niagara Engraved',
 'Microsoft PhagsPa',
 'Rockwell',
 'Arial',
 'Juice ITC',
 'Corbel',
 'Segoe UI',
 'Arial',
 'Nirmala UI',
 'Candara',
 'Myanmar Text',
 'Matura MT Script Capitals',
 'Berlin Sans FB',
 'Corbel',
 'Gadugi',
 'Constantia',
 'Myanmar Text',
 'Californian FB',
 'Microsoft Tai Le',
 'Gill Sans MT',
 'Bodoni MT',
 'Chiller',
 'Constantia',
 'Franklin Gothic Demi',
 'Tw Cen MT Condensed Extra Bold',
 'Jokerman',
 'MS Gothic',
 'Elephant',
 'Gigi',
 'MV Boli',
 'SimSun',
 'Segoe MDL2 Assets',
 'Tw Cen MT Condensed',
 'Candara',
 'Arial',
 'Cambria',
 'Constantia',
 'Arial',
 'Calibri',
 'Yet R',
 'Goudy Stout',
 'Symbol',
 'MS Reference Sans Serif',
 'MS Gothic',
 'Tw Cen MT',
 'Lucida Sans Typewriter',
 'Arial',
 'Blackadder ITC',
 'Edwardian Script ITC',
 'Perpetua Titling MT',
 'Berlin Sans FB',
 'HYGothic-Medium',
 'MoeumT R',
 'Lucida Calligraphy',
 'Mongolian Baiti',
 'Lucida Calligraphy',
 'Franklin Gothic Heavy',
 'Verdana',
 'Arial',
 'Ink Free',
 'Brush Script MT',
 'Gabriola',
 'Arial',
 'Leelawadee UI',
 'Franklin Gothic Medium',
 'Broadway',
 'Segoe UI Emoji',
 'Century Gothic',
 'Century Gothic',
 'Stencil',
 'Gill Sans MT',
 'Georgia',
 'Brush Script MT',
 'Monotype Corsiva',
 'Wingdings 2',
 'Blackadder ITC',
 'Perpetua',
 'Century Schoolbook',
 'Calibri',
 'Gloucester MT Extra Condensed',
 'Lucida Bright',
 'Microsoft YaHei',
 'Tahoma',
 'Pristina',
 'Edwardian Script ITC',
 'Book Antiqua',
 'Microsoft Tai Le',
 'Bodoni MT',
 'Perpetua',
 'Rockwell',
 'Calisto MT',
 'Colonna MT',
 'Modern No. 20',
 'Eras Light ITC',
 'Sylfaen',
 'Microsoft Sans Serif',
 'Viner Hand ITC',
 'Headline R',
 'Times New Roman',
 'Candara',
 'Century Schoolbook',
 'Consolas',
 'Goudy Old Style',
 'OCR A Extended',
 'MS Reference Specialty',
 'Book Antiqua',
 'Bodoni MT',
 'Lucida Bright',
 'HYHeadLine-Medium',
 'Nirmala UI',
 'Bookman Old Style',
 'Arial Rounded MT Bold',
 'Gill Sans Ultra Bold',
 'Calisto MT',
 'Microsoft JhengHei',
 'Palace Script MT',
 'Javanese Text',
 'Harlow Solid Italic',
 'Harrington',
 'Modern No. 20',
 'Old English Text MT',
 'Century Gothic',
 'Rockwell',
 'Yu Gothic',
 'Felix Titling',
 'New Gulim',
 'Sylfaen',
 'Wingdings 2',
 'Sitka Small',
 'Microsoft JhengHei',
 'Palatino Linotype',
 'Candara',
 'Franklin Gothic Demi Cond',
 'Calibri',
 'Rockwell Condensed',
 'D2Coding',
 'Book Antiqua',
 'Segoe UI',
 'Corbel',
 'Malgun Gothic',
 'Sitka Small',
 'Bodoni MT',
 'Segoe UI',
 'Comic Sans MS',
 'Malgun Gothic',
 'Agency FB',
 'Gill Sans MT Condensed',
 'Elephant',
 'Eras Bold ITC',
 'Lucida Sans Typewriter',
 'Marlett',
 'Snap ITC',
 'Elephant',
 'HYGraphic-Medium',
 'Mistral',
 'Bodoni MT',
 'Palatino Linotype',
 'HYGungSo-Bold',
 'Gill Sans Ultra Bold Condensed',
 'Onyx',
 'Tempus Sans ITC',
 'Calisto MT',
 'Bahnschrift',
 'Franklin Gothic Book',
 'HYPMokGak-Bold',
 'Dubai',
 'HYShortSamul-Medium',
 'Colonna MT',
 'Rockwell Extra Bold',
 'Webdings',
 'Microsoft JhengHei',
 'New Gulim',
 'Cambria',
 'Kristen ITC',
 'Wingdings',
 'Poor Richard',
 'Franklin Gothic Demi',
 'Franklin Gothic Heavy',
 'Segoe UI',
 'Goudy Old Style',
 'Segoe UI',
 'Franklin Gothic Demi',
 'Bell MT',
 'Ebrima',
 'High Tower Text',
 'Arial',
 'Segoe UI',
 'Calibri',
 'Franklin Gothic Medium',
 'Bodoni MT',
 'Myanmar Text',
 'Century Schoolbook',
 'Ami R',
 'Nirmala UI',
 'Cambria',
 'Lucida Bright',
 'Engravers MT',
 'Footlight MT Light',
 'Chiller',
 'Sitka Small',
 'Wingdings 3',
 'HYGungSo-Bold',
 'Segoe UI Symbol',
 'Impact',
 'Matura MT Script Capitals',
 'Bodoni MT',
 'Eras Demi ITC',
 'Papyrus',
 'Castellar',
 'Segoe UI',
 'Berlin Sans FB',
 'Parchment',
 'Verdana',
 'Cambria',
 'Segoe UI',
 'Consolas',
 'Times New Roman',
 'Lucida Sans',
 'Garamond',
 'Times New Roman',
 'Century Gothic',
 'Constantia',
 'Goudy Old Style',
 'Tw Cen MT Condensed Extra Bold',
 'Lucida Sans Unicode',
 'Maiandra GD',
 'Arial',
 'Goudy Stout',
 'Vivaldi',
 'Ebrima',
 'Rockwell',
 'Corbel',
 'Trebuchet MS',
 'Bookman Old Style',
 'Segoe MDL2 Assets',
 'Lucida Sans',
 'Wide Latin',
 'Century Schoolbook',
 'Comic Sans MS',
 'French Script MT',
 'Verdana',
 'Lucida Sans Typewriter',
 'Showcard Gothic',
 'Bodoni MT',
 'Corbel',
 'Microsoft YaHei',
 'Lucida Bright',
 'Courier New',
 'Gulim',
 'High Tower Text',
 'Kunstler Script',
 'Bell MT',
 'Imprint MT Shadow',
 'Arial',
 'Perpetua',
 'Comic Sans MS',
 'Rockwell Condensed',
 'Corbel',
 'Eras Light ITC',
 'Kunstler Script',
 'Californian FB',
 'Gulim',
 'Bernard MT Condensed',
 'Lucida Bright',
 'Microsoft New Tai Lue',
 'Cambria',
 'Copperplate Gothic Light',
 'Microsoft PhagsPa',
 'Tahoma',
 'Batang',
 'Bodoni MT',
 'Arial',
 'Palatino Linotype',
 'Rockwell',
 'MS Reference Specialty',
 'Poor Richard',
 'Arial Rounded MT Bold',
 'Sitka Small',
 'Courier New',
 'Palatino Linotype',
 'Segoe Script',
 'Georgia',
 'Rockwell',
 'Jokerman',
 'Calibri',
 'Courier New',
 'Gabriola',
 'Bodoni MT',
 'Vladimir Script',
 'Eras Medium ITC',
 'Mongolian Baiti',
 'Microsoft New Tai Lue',
 'Century Schoolbook',
 'Franklin Gothic Medium',
 'Eras Bold ITC',
 'Harlow Solid Italic',
 'Lucida Console',
 'Franklin Gothic Medium Cond',
 'Georgia',
 'Dubai',
 'Bodoni MT',
 'Century Gothic',
 'Verdana',
 'Corbel',
 'Microsoft Himalaya',
 'Bernard MT Condensed',
 'Lucida Fax',
 'Verdana',
 'Lucida Sans',
 'Bookman Old Style',
 'Microsoft YaHei',
 'Malgun Gothic',
 'HYGothic-Extra',
 'Magic R',
 'Arial',
 'Calibri',
 'Candara',
 'Segoe Print',
 'Lucida Bright',
 'Gadugi',
 'Calibri',
 'Magneto',
 'Haettenschweiler',
 'French Script MT',
 'Trebuchet MS',
 'Trebuchet MS',
 'Californian FB',
 'Calibri',
 'Bookman Old Style',
 'Bodoni MT',
 'Webdings',
 'Snap ITC',
 'Constantia',
 'Arial',
 'Times New Roman',
 'Script MT Bold',
 'Californian FB',
 'Pyunji R',
 'Monotype Corsiva',
 'Niagara Engraved',
 'HoloLens MDL2 Assets',
 'Impact',
 'Berlin Sans FB',
 'Segoe Script',
 'Gill Sans MT',
 'Georgia',
 'Tw Cen MT',
 'Palatino Linotype',
 'Franklin Gothic Demi Cond',
 'Trebuchet MS',
 'Britannic Bold',
 'Calisto MT',
 'Wingdings 3',
 'Bookshelf Symbol 7',
 'Times New Roman',
 'Tw Cen MT Condensed',
 'Microsoft YaHei',
 'Book Antiqua',
 'Eras Demi ITC',
 'Century Schoolbook',
 'Lucida Fax',
 'Agency FB',
 'Gill Sans Ultra Bold Condensed',
 'Viner Hand ITC',
 'Playbill',
 'Calibri',
 'Corbel',
 'Broadway',
 'Microsoft New Tai Lue',
 'Gill Sans MT',
 'Vivaldi',
 'Georgia',
 'Rockwell',
 'Segoe Script',
 'Goudy Old Style',
 'Arial',
 'MingLiU-ExtB',
 'Lucida Sans',
 'Segoe UI',
 'Book Antiqua',
 'Corbel',
 'Gigi',
 'Gill Sans MT Ext Condensed Bold',
 'Microsoft YaHei',
 'Franklin Gothic Medium Cond',
 'Palatino Linotype',
 'Palace Script MT',
 'HYGothic-Extra',
 'Candara',
 'Bodoni MT',
 'Verdana',
 'Franklin Gothic Heavy',
 'MT Extra',
 'Tempus Sans ITC',
 'Bodoni MT',
 'Lucida Handwriting',
 'Calisto MT',
 'Mistral',
 'Microsoft Tai Le',
 'Garamond',
 'Niagara Solid',
 'Kristen ITC',
 'Dubai',
 'Tahoma',
 'Forte',
 'Castellar',
 'Bookman Old Style',
 'Bookman Old Style',
 'Lucida Bright',
 'Leelawadee UI',
 'Trebuchet MS',
 'Lucida Sans Typewriter',
 'Bell MT',
 'Segoe UI',
 'Verdana',
 'Cooper Black',
 'HYMyeongJo-Extra',
 'Dubai',
 'Sitka Small',
 'Ravie',
 'Georgia',
 'Segoe Print',
 'Lucida Console',
 'Tw Cen MT',
 'Centaur',
 'Georgia',
 'Vladimir Script',
 'SimSun-ExtB',
 'Microsoft JhengHei',
 'High Tower Text',
 'Lucida Sans',
 'Wide Latin',
 'Californian FB',
 'OCR A Extended',
 'Segoe UI',
 'Microsoft PhagsPa',
 'MS Outlook',
 'Comic Sans MS',
 'Corbel',
 'Cambria',
 'Century Gothic',
 'Tahoma',
 'MS Reference Sans Serif',
 'Bell MT',
 'Bell MT',
 'Segoe UI',
 'Baskerville Old Face',
 'Constantia',
 'Microsoft JhengHei',
 'MV Boli',
 'Bodoni MT',
 'Century Gothic',
 'Lucida Sans Typewriter',
 'Calibri',
 'HYHeadLine-Medium',
 'Candara',
 'Copperplate Gothic Bold',
 'Lucida Fax',
 'MS Outlook',
 'Arial',
 'Script MT Bold',
 'Segoe UI',
 'Segoe UI',
 'Haettenschweiler',
 'Verdana',
 'Comic Sans MS',
 'Comic Sans MS',
 'Rockwell Condensed',
 'Constantia',
 'Goudy Old Style',
 'Franklin Gothic Book',
 'Segoe Print',
 'Felix Titling',
 'Consolas',
 'Bodoni MT',
 'Lucida Sans',
 'Old English Text MT',
 'Segoe UI',
 'Rockwell',
 'Magneto',
 'MT Extra',
 'Copperplate Gothic Bold',
 'Berlin Sans FB Demi',
 'Gadugi',
 'HYShortSamul-Medium',
 'HYPost-Light',
 'Trebuchet MS',
 'Gill Sans MT Ext Condensed Bold',
 'Sitka Small',
 'Consolas',
 'Microsoft Yi Baiti',
 'Tw Cen MT',
 'Century Schoolbook',
 'Tw Cen MT Condensed',
 'Footlight MT Light',
 'Gloucester MT Extra Condensed',
 'Bodoni MT',
 'HYMyeongJo-Extra',
 'Cambria',
 'HYSinMyeongJo-Medium',
 'Malgun Gothic',
 'Constantia',
 'Bookman Old Style',
 'Agency FB',
 'Lucida Bright',
 'Corbel',
 'Lucida Fax',
 'Batang',
 'Segoe UI',
 'Palatino Linotype',
 'Consolas',
 'Franklin Gothic Medium',
 'Franklin Gothic Heavy',
 'Courier New']

In [48]:
con = sqlite3.connect("C:/Workspace/HK_Project/4_DB(sqlite3)/db/test2.db")

## 1. KOSPI -> sqlite3 저장

In [42]:
df_kospi = pd.read_excel("C:\Workspace\HK_Project\data\KOSPI데이터0305.xlsx", engine='openpyxl')
df_kospi.head()

,종목명,종목코드,시가총액,매출액,현금흐름,PER,ROE,ROA,PBR,PSR,...,부채총계,자본총계,주당순이익,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,삼성전자,5930,4351971,2796048,651054.5,12.62,13.92,9.92,1.67,1.556472,...,1217212,3049000,5777,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SK하이닉스,660,939123,319004,123145.7,11.66,9.53,6.98,1.51,2.943922,...,192648,519091,11061,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NAVER,35420,533980,53041,14472.1,3.22,15.22,5.77,2.05,10.067306,...,87591,82551,101024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,카카오,35720,430799,41568,9711.0,38.03,2.70,1.68,4.76,10.363717,...,45262,74278,2540,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LG화학,51910,393905,300765,58408.3,14.54,2.93,1.81,2.04,1.309677,...,225985,187904,38376,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
df_kospi.dropna(inplace=True, axis=1)

In [45]:
df_kospi

,종목명,종목코드,시가총액,매출액,현금흐름,PER,ROE,ROA,PBR,PSR,PCR,자산총계,부채총계,자본총계,주당순이익
0,삼성전자,5930,4351971,2796048,651054.5,12.62,13.92,9.92,1.67,1.556472,6.684496,4266212,1217212,3049000,5777
1,SK하이닉스,660,939123,319004,123145.7,11.66,9.53,6.98,1.51,2.943922,7.626113,711739,192648,519091,11061
2,NAVER,35420,533980,53041,14472.1,3.22,15.22,5.77,2.05,10.067306,36.897202,170142,87591,82551,101024
3,카카오,35720,430799,41568,9711.0,38.03,2.70,1.68,4.76,10.363717,44.361961,119540,45262,74278,2540
4,LG화학,51910,393905,300765,58408.3,14.54,2.93,1.81,2.04,1.309677,6.743990,413889,225985,187904,38376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
782,체시스,33250,336,429,73.2,-17.50,-8.25,-2.84,1.10,0.783217,4.590164,812,479,333,-60
783,코아스,71950,334,982,20.2,-20.77,-6.81,-2.32,1.48,0.340122,16.534653,732,492,240,-52
784,다이나믹디자인,145210,323,768,-108.3,-0.76,-90.21,-24.63,0.54,0.420573,-2.982456,1512,870,642,-270
785,부산주공,5030,321,1527,-67.5,-3.72,-47.39,-5.05,1.26,0.210216,-4.755556,2498,2231,267,-131
786,에이리츠,140910,304,535,493.1,7.72,19.50,9.88,0.85,0.568224,0.616508,431,64,367,935

In [46]:
df_kospi.to_sql('df_kospi', con)

In [ ]:
# barchart 그리기

## DB Browser for SQLite > df_kospi 우클릭 > 테이블 보기

## 2. df_kospi_ROE_5y -> sqlite3 저장

In [22]:
df_kospi_ROE_5y = pd.read_excel("C:\Workspace\HK_Project\data\KOSPIROE5years.xlsx", engine='openpyxl')
df_kospi_ROE_5y.head()

        종목명  2017  2018  2019   2020  2021
0  에스디바이오센서  -4.6   3.8        139.7  86.6
1      태영건설  10.1  19.2   8.4   62.0  12.6
2      크래프톤              99.2   61.9  23.9
3     삼성출판사   3.9   0.4   5.5   45.6   1.4
4       솔루엠 -39.7 -50.5    87   43.3  13.7

In [24]:
df_kospi_ROE_5y.to_sql('df_kospi_ROE_5y', con)

## 3. df_kospi_ROE_15 -> sqlite3 저장

In [25]:
df_kospi_ROE_15 = pd.read_excel("C:\Workspace\HK_Project\data\KOSPIROE15.xlsx", engine='openpyxl')
df_kospi_ROE_15.head()

        종목명    종목코드     ROE
0  에스디바이오센서  137310  139.97
1      태영건설    9410   61.96
2      크래프톤  259960   61.86
3     삼성출판사   68290   45.58
4       솔루엠  248070   43.26

In [26]:
df_kospi_ROE_15.to_sql('df_kospi_ROE_15', con)

## 4. df_kosdaq -> sqlite3 저장

In [37]:
df_kosdaq = pd.read_excel("C:\Workspace\HK_Project\data\KOSDAQ0305.xlsx", engine='openpyxl')
df_kosdaq.head()

,종목명,종목코드,시가총액,매출액,현금흐름,PER,ROE,ROA,PBR,PSR,PCR,자산총계,부채총계,자본총계,주당순이익
0,셀트리온헬스케어,91990,104821,16276,-226.1,63.77,13.36,7.30,5.22,6.440219,-463.604600,37397,18068,19329,1060
1,엘앤에프,66970,71013,3561,452.7,-181.01,-9.39,-3.40,9.04,19.941870,156.865474,4662,2686,1976,-1127
2,펄어비스,263750,67281,4888,1574.3,130.26,16.45,11.43,8.68,13.764525,42.737090,8972,2603,6369,780
3,카카오게임즈,293490,58739,4955,822.9,58.06,12.12,7.10,3.97,11.854490,71.380484,13099,2845,10254,1302
4,위메이드,112040,36461,1262,-148.8,67.75,-3.00,-5.93,12.15,28.891442,-245.033602,3234,674,2560,1603

In [38]:
df_kosdaq.to_sql('df_kosdaq', con)

## 5. df_kosdaq_ROE_5y -> sqlite3 저장

In [29]:
df_kosdaq_ROE_5y = pd.read_excel("C:\Workspace\HK_Project\data\KOSDAQROE5Years.xlsx", engine='openpyxl')
df_kosdaq_ROE_5y.head()

        종목명  2017  2018  2019   2020   2021
0      현진소재 -25.6  -1.8  28.7  -63.3     89
1       피씨엘  57.6  41.6   6.2   40.7   23.2
2    엑세스바이오   8.4  24.8 -12.7   26.3  435.8
3  아이패밀리에스씨  -1.2  16.7         32.4   27.8
4  SGC이테크건설  -6.2   9.6  -3.5  111.3    3.8

In [30]:
df_kosdaq_ROE_5y.to_sql('df_kosdaq_ROE_5y', con)

## 6. df_kosdaq_ROE_15 -> sqlite3 저장

In [31]:
df_kosdaq_ROE_15 = pd.read_excel("C:\Workspace\HK_Project\data\KOSDAQROE15.xlsx", engine='openpyxl')
df_kosdaq_ROE_15.head()

        종목명    종목코드    ROE
0      현진소재   53660  95.14
1       피씨엘  241820  91.65
2    엑세스바이오  950130  89.16
3  아이패밀리에스씨  114840  79.99
4  SGC이테크건설   16250  79.74

In [32]:
df_kosdaq_ROE_15.to_sql('df_kosdaq_ROE_15', con)

---

- df_kospi 불러오기

In [5]:
if __name__ == "__main__":
    con = sqlite3.connect("C:/Workspace/HK_Project/4_DB(sqlite3)/db/test2.db")
    cur = con.cursor()

In [17]:
query = cur.execute("select * from df_kospi")

In [18]:
cols = [column[0] for column in query.description]

In [19]:
result = pd.DataFrame.from_records(data=query.fetchall(), columns=cols)

In [21]:
result

,index,종목명,종목코드,시가총액,매출액,현금흐름,PER,ROE,ROA,PBR,...,부채총계,자본총계,주당순이익,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,0,삼성전자,5930,4351971,2796048,651054.5,12.62,13.92,9.92,1.67,...,1217212,3049000,5777,None,None,None,None,None,None,None
1,1,SK하이닉스,660,939123,319004,123145.7,11.66,9.53,6.98,1.51,...,192648,519091,11061,None,None,None,None,None,None,None
2,2,NAVER,35420,533980,53041,14472.1,3.22,15.22,5.77,2.05,...,87591,82551,101024,None,None,None,None,None,None,None
3,3,카카오,35720,430799,41568,9711.0,38.03,2.70,1.68,4.76,...,45262,74278,2540,None,None,None,None,None,None,None
4,4,LG화학,51910,393905,300765,58408.3,14.54,2.93,1.81,2.04,...,225985,187904,38376,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
782,782,체시스,33250,336,429,73.2,-17.50,-8.25,-2.84,1.10,...,479,333,-60,None,None,None,None,None,None,None
783,783,코아스,71950,334,982,20.2,-20.77,-6.81,-2.32,1.48,...,492,240,-52,None,None,None,None,None,None,None
784,784,다이나믹디자인,145210,323,768,-108.3,-0.76,-90.21,-24.63,0.54,...,870,642,-270,None,None,None,None,None,None,None
785,785,부산주공,5030,321,1527,-67.5,-3.72,-47.39,-5.05,1.26,...,2231,267,-131,None,None,None,None,None,None,None
786,786,에이리츠,140910,304,535,493.1,7.72,19.50,9.88,0.85,...,64,367,935,None,None,None,None,None,None,None

In [ ]:
result.drop(columns=)