- 테스트 확인 완료

In [18]:
import pandas as pd

In [19]:
import sqlite3

In [20]:
import openpyxl

In [21]:
con = sqlite3.connect("C:/Workspace/HK_Project/4_DB(sqlite3)/db/test2.db")

## 1. KOSPI -> sqlite3 저장

In [33]:
df_kospi = pd.read_excel("C:\Workspace\HK_Project\data\KOSPI데이터0305.xlsx", engine='openpyxl')
df_kospi.head()

,종목명,종목코드,시가총액,매출액,현금흐름,PER,ROE,ROA,PBR,PSR,...,부채총계,자본총계,주당순이익,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,삼성전자,5930,4351971,2796048,651054.5,12.62,13.92,9.92,1.67,1.556472,...,1217212,3049000,5777,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SK하이닉스,660,939123,319004,123145.7,11.66,9.53,6.98,1.51,2.943922,...,192648,519091,11061,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NAVER,35420,533980,53041,14472.1,3.22,15.22,5.77,2.05,10.067306,...,87591,82551,101024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,카카오,35720,430799,41568,9711.0,38.03,2.70,1.68,4.76,10.363717,...,45262,74278,2540,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LG화학,51910,393905,300765,58408.3,14.54,2.93,1.81,2.04,1.309677,...,225985,187904,38376,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df_kospi.to_sql('df_kospi', con)

## DB Browser for SQLite > df_kospi 우클릭 > 테이블 보기

## 2. df_kospi_ROE_5y -> sqlite3 저장

In [22]:
df_kospi_ROE_5y = pd.read_excel("C:\Workspace\HK_Project\data\KOSPIROE5years.xlsx", engine='openpyxl')
df_kospi_ROE_5y.head()

        종목명  2017  2018  2019   2020  2021
0  에스디바이오센서  -4.6   3.8        139.7  86.6
1      태영건설  10.1  19.2   8.4   62.0  12.6
2      크래프톤              99.2   61.9  23.9
3     삼성출판사   3.9   0.4   5.5   45.6   1.4
4       솔루엠 -39.7 -50.5    87   43.3  13.7

In [24]:
df_kospi_ROE_5y.to_sql('df_kospi_ROE_5y', con)

## 3. df_kospi_ROE_15 -> sqlite3 저장

In [25]:
df_kospi_ROE_15 = pd.read_excel("C:\Workspace\HK_Project\data\KOSPIROE15.xlsx", engine='openpyxl')
df_kospi_ROE_15.head()

        종목명    종목코드     ROE
0  에스디바이오센서  137310  139.97
1      태영건설    9410   61.96
2      크래프톤  259960   61.86
3     삼성출판사   68290   45.58
4       솔루엠  248070   43.26

In [26]:
df_kospi_ROE_15.to_sql('df_kospi_ROE_15', con)

## 4. df_kosdaq -> sqlite3 저장

In [37]:
df_kosdaq = pd.read_excel("C:\Workspace\HK_Project\data\KOSDAQ0305.xlsx", engine='openpyxl')
df_kosdaq.head()

,종목명,종목코드,시가총액,매출액,현금흐름,PER,ROE,ROA,PBR,PSR,PCR,자산총계,부채총계,자본총계,주당순이익
0,셀트리온헬스케어,91990,104821,16276,-226.1,63.77,13.36,7.30,5.22,6.440219,-463.604600,37397,18068,19329,1060
1,엘앤에프,66970,71013,3561,452.7,-181.01,-9.39,-3.40,9.04,19.941870,156.865474,4662,2686,1976,-1127
2,펄어비스,263750,67281,4888,1574.3,130.26,16.45,11.43,8.68,13.764525,42.737090,8972,2603,6369,780
3,카카오게임즈,293490,58739,4955,822.9,58.06,12.12,7.10,3.97,11.854490,71.380484,13099,2845,10254,1302
4,위메이드,112040,36461,1262,-148.8,67.75,-3.00,-5.93,12.15,28.891442,-245.033602,3234,674,2560,1603

In [38]:
df_kosdaq.to_sql('df_kosdaq', con)

## 5. df_kosdaq_ROE_5y -> sqlite3 저장

In [29]:
df_kosdaq_ROE_5y = pd.read_excel("C:\Workspace\HK_Project\data\KOSDAQROE5Years.xlsx", engine='openpyxl')
df_kosdaq_ROE_5y.head()

        종목명  2017  2018  2019   2020   2021
0      현진소재 -25.6  -1.8  28.7  -63.3     89
1       피씨엘  57.6  41.6   6.2   40.7   23.2
2    엑세스바이오   8.4  24.8 -12.7   26.3  435.8
3  아이패밀리에스씨  -1.2  16.7         32.4   27.8
4  SGC이테크건설  -6.2   9.6  -3.5  111.3    3.8

In [30]:
df_kosdaq_ROE_5y.to_sql('df_kosdaq_ROE_5y', con)

## 6. df_kosdaq_ROE_15 -> sqlite3 저장

In [31]:
df_kosdaq_ROE_15 = pd.read_excel("C:\Workspace\HK_Project\data\KOSDAQROE15.xlsx", engine='openpyxl')
df_kosdaq_ROE_15.head()

        종목명    종목코드    ROE
0      현진소재   53660  95.14
1       피씨엘  241820  91.65
2    엑세스바이오  950130  89.16
3  아이패밀리에스씨  114840  79.99
4  SGC이테크건설   16250  79.74

In [32]:
df_kosdaq_ROE_15.to_sql('df_kosdaq_ROE_15', con)