- 링크 : https://root-decimal-c5d.notion.site/Recommender-System-KR-5b773a06e99145e6855bae391c94dc44
    - https://www.facebook.com/groups/2611614312273351/hashtags

# 1. 추천시스템의 개요
1. 정의 
    - 추천시스템은 **사용자**에게 **상품**을 **제안**하는 소프트웨어 도구이자 기술. 
    - 이러한 제안은 어떤 상품을 구매할 지, 어떤 음악을 들을지 등과 같은 다양한 의사결정과 연관이 있다.
2. 목표
    - **어떤 사용자**에게 **어떤 상품**을 **어떻게 추천**할지에 대한 이해

# 2. 기업에서의 추천 시스템
1. 당근마켓
    - 다른 사람들이 **같이 본 상품** 추천
2. 카카오 (브런치)
    - 해당 글과 **유사한 글**을 추천

# 3. 파레토와 롱테일의 법칙
1. 파레토의 법칙
    - 상위 20%가 80%의 가치를 창출한다.
    - 매출의 80퍼센트는 20퍼센트의 핵심 고객/주력 상품에서 나오며, 그 **핵심 고객 20퍼센트**를 찾아내 이들에게 오는 역량을 집중
2. 롱테일의 법칙
    - 하위 80%가 상위 20%의 가치보다 크다.
    - 80:20 법칙에서 소외된 **80 퍼센트의 고객에서도 상당한 영업기회가 존재**한다는 현상
    - 오프라인보다 온라인에서 더 찾기 쉬움.
    - 예시 : 아마존이 서점에서 팔지 않는 책을 온라인에서 많이 판매

# 4. 추천시스템의 역사
- 참고 : http://hoondongkim.blogspot.com/
1. Apriori 알고리즘
    - 연관상품 추천
    - 같이 구매하는 상품을 추천
2. 협업 필터링
    - SVD : 넷플릭스 추천 알고리즘 경연대회 우승 알고리즘
3. Spark를 이용한 빅데이터 : 데이터의 중요성을 인지, 데이터 -> 빅데이터로 변하면서 일반적인 추천 시스템에 대한 효율성 문제 제기
    - FP-Growth
    - Matrix Factorization
4. 딥러닝을 이용한 추천 시스템
    - 협업필터링 + 딥러닝
    - Item2Vec Doc2Vec
    - Youtube Recommendation
    - Wide & Deep Model
5. 개인화 추천시스템
    - Factorization Machine
    - Hierarchical RNN
    - 강화학습 + Re-Ranking
    - 딥러닝

# 5-1. 연관분석 (Association Analysis)
1. 정의
    - 룰기반의 모델로서 상품과 상품사이에 어떤 **연관**이 있는지 찾아내는 알고리즘. 
    - **연관**이란?
        1. **얼마나(frequent)** 같이 구매가 되는가?
        2. A 아이템을 구매하는 사람이 B 아이템을 구매하는가?
        - 어떤 상품들이 한 장바구니 안에 담기는지 살피는 모습과 비슷하기 때문에 장바구니 분석이라고도 한다.
2. 예시
    - 월마트에서 맥주를 구매할 때 기저귀를 같이 구매하는 경향이 크다는 것을 밝혀서 둘을 함께 진열하는 전략을 세우기도 함

# 5-2. 연관분석 - 규칙평가지표
- 참고 : https://ratsgo.github.io/machine%20learning/2017/04/08/apriori/
1. support(지지도)
    - A라는 상품을 구매했을 때, B로 이어지는 규칙에 대해서
    - 조건절 A에 대해서 얼마만큼 구매를 할지에 대해서 구할 확률
2. confidence(신뢰도)
    - A라는 상품을 구매했을 때, B라는 상품의 구매까지 이어질 확률
3. lift(향상도)
    - 두 사건이 동시에 얼마나 발생하는지 비율, 독립성을 측정
4. 실제로 모델을 만들때에는 지지도와 신뢰도를 많이 사용

# 5-3. 연관분석 - 규칙 생성
1. 가능한 모든 경우의 수를 탐색해서 지지도, 신뢰도, 향상도가 높은 규칙들을 찾아내는 방식
    - 예를 들어, 4개의 상품을 통해서 1가지 상품만 구매하는 경우의 수 : 4 (4C1)
    -   2가지 상품을 구매하는 경우의 수 : 6 (4C2)
    -   3가지 상품을 구매하는 경우의 수 : 4 (4C3)
    -   4가지 상품을 구매하는 경우의 수 : 1 (4C4)
    - 전체 경우의 수 : 4 + 6 + 4 + 1 = 15가지 (구매를 하나도 하지 않은 경우는 제외)

# 5-4. 연관분석 - 문제점
1. 아이템의 증가에 따른 규칙의 수의 증가가 기하급수적으로 증가
    - 아이템이 100개인 경우에는 규칙의 수가 `1.26 * 10^30`
    - 아이템이 10개일 경우 : `2^10 - 1 = 1023`

# 6-1. Apriori 알고리즘
1. 아이템셋의 증가를 줄이기 위한 방법
2. 기본적인 아이디어 : "빈번한 아이템셋은 하위 아이템셋 또한 빈번할 것이다."
    - 즉, 빈번하지 않은 아이템셋은 하위 아이템셋 또한 빈번하지 않다.
3. 설명
    - 아이템이 4개가 있을 때, 아이템을 묶어서 만들 수 있는 아이템셋이 있다.
    - 2와 3이 묶인 아이템셋이 빈번하지 않다면,
        - 0, 2, 3 과 1, 2, 3 아이템셋은 빈번하지 않을 것이다
        - 이 데이터셋을 제거할 것 
4. 아이디어
    - {2,3}의 지지도 > {0,2,3}, {1,2,3}의 지지도
        - P(item2, item3) > P(item0, item2, item3)
        - P(item2, item3) > P(item1, item2, item3)

# 6-2. Apriori 알고리즘
1. k개의 item을 가지고 단일항목집단 생성 (one-item frequent set)
    - 단일항목집단 : item을 1개씩만 구매하는 경우
2. 단일항목집단에서 최소 지지도 (support) 이상의 항목만 선택
    - 최소 지지도 : 사용자의 hyper parameter 값
3. 2에서 선택된 항목만을 대상으로 2개항목집단 생성
4. 2개항목집단에서 최소 지지도 혹은 신뢰도 이상의 항목만 선택
5. 위의 과정을 k개의 k-item frequent set을 반복할 때까지 반복

# 6-3. Apriori 알고리즘 - 데이터

In [14]:
# 데이터 (Implicit Feedback)
#   Implicit Data : 고객이 구매를 했지만, 만족했는지 아닌지는 알 수 없다.
import pandas as pd
df = pd.DataFrame({"거래번호": [0,1,2,3],
                    "상품목록": [["우유", "기저귀", "주스"], 
                                ["양상추", "기저귀", "맥주"],
                                ["우유", "양상추", "기저귀", "맥주"],
                                ["양상추", "맥주"]] })
df.set_index("거래번호")

                    상품목록
거래번호
0          [우유, 기저귀, 주스]
1         [양상추, 기저귀, 맥주]
2     [우유, 양상추, 기저귀, 맥주]
3              [양상추, 맥주]

In [15]:
# Matrix로 변형 : Sparse Matrix (희소행렬)
#   희소행렬 : Matrix 안에 무의미한 0이라는 값이 많음
# 상품목록에 있는 구매한 상품의 갯수가 많아도 1로 표현됨
df1 = pd.DataFrame( {"거래번호": [0,1,2,3],
                    "우유" : [1,0,1,0],
                    "양상추" : [0,1,1,1],
                    "기저귀" : [1,1,1,0],
                    "주스" : [1,0,0,0],
                    "맥주": [0,1,1,1]})
df1.set_index("거래번호")

      우유  양상추  기저귀  주스  맥주
거래번호
0      1    0    1   1   0
1      0    1    1   0   1
2      1    1    1   0   1
3      0    1    0   0   1

# 6-4. Apriori 알고리즘 - 예시
1. 5개의 item을 가지고 단일항목집단 생성(one-item frequent set) : 우유, 양상추, 기저귀, 맥주, 주스
2. 단일항목집단에서 최소 지지도(support) 이상의 항목만 선택(예 : 최소지지도 0.5)
    - P(우유) : 0.5
        - 전체 4개의 거래에서 몇 번만큼의 거래가 일어났는지에 대한 확률값 계산
        - 4번 중에 2번을 구매 => 확률값 0.5
    - P(양상추) : 0.75
    - P(기저귀) : 0.75
    - P(주스) : 0.25    (제거)
    - P(맥주) : 0.75
3. 2에서 선택된 항목만을 대상으로 2개 항목 집단 생성 {우유, 양상추, 기저귀, 맥주} : 4C2 (6가지)
    - {우유, 양상추}, {우유, 기저귀}, {우유, 맥주}, {양상추, 기저귀}, {양상추, 맥주}, {기저귀, 맥주}
4. 2개항목집단에서 최소 지지도 이상의 항목만 선택
    - {우유, 양상추} : 0.25     (제거)
    - {우유, 기저귀} : 0.5
    - {우유, 맥주} : 0.25       (제거)
    - {양상추, 기저귀} : 0.5
    - {양상추, 맥주} : 0.75
    - {기저귀, 맥주} : 0.5
5. 위의 과정을 k개의 k-item frequent set을 생성할 때까지 반복
    - {우유}, {양상추}, {기저귀}, {맥주}
    - {우유, 기저귀}, {양상추, 기저귀}, {양상추, 맥주}, {기저귀, 맥주}
    - {양상추, 기저귀, 맥주}

# 6-5. Apriori 알고리즘 - 장단점
1. 장점
    - 원리가 간단하여 사용자가 쉽게 이해할 수 있고 의미를 파악할 수 있음
    - 유의한 연관성을 갖는 구매패턴을 찾아줌
2. 단점
    - 데이터가 클 경우 (item이 많은 경우)에 속도가 느리고 연산량이 많음
    - 실제 사용시에 많은 연관상품들이 나타나는 단점이 있음
3. 연관상품들이 상관관계를 의미할 수는 있어도, 인과관계는 의미하지 않는다.
    - 인과관계에 대해서 파악하기 어렵다.

# 7-1. FP-Growth 알고리즘
1. APriori의 속도측면의 단점을 개선한 알고리즘
2. Apriori와 비슷한 성능을 내지만 FP Tree라는 구조를 사용해서 따른 속도를 가진다는 것이 장점
3. 동일하게 발생하는 아이템셋 (frequent itemsets)을 찾는데는 좋지만 아이템간의 연관성을 찾는 것은 어렵다는 단점

# 7-2. FP-Growth 알고리즘 - 원리
1. 모든 거래를 확인하여, 각 아이템마다의 지지도(support)를 계산하고 최소 지지도 이상의 아이템만 선택
2. 모든 거래에서 빈도가 높은 아이템 순서대로 순서를 정렬
3. 부모 노드를 중심으로 거래를 자식노드로 추가해주면서 tree를 생성
4. 새로운 아이템이 나올 경우에는 부모 노드부터 시작하고, 그렇지 않으면 기존의 노드에서 확장
5. 위의 과정을 모든 거래에 대해 반복하여 FP TREE를 만들고 최소 지지도 이상의 패턴만을 추출

# 7-3. FP-Growth 알고리즘
1. 예시
    - 모든 거래를 확인하여, 각 아이템마다의 지지도를 계산하고 회소 지지도 이상의 아이템만 선택
    - 모든 거래에서 빈도가 높은 아이템 순서대로 순서를 정렬
    - 부모 노드를 중심으로 거래를 자식노드로 추가해주면서 tree를 생성
    - 새로운 아이템이 나올 경우에는 부모노드부터 시작하고, 그렇지 않으면 기존의 노드에서 확장
    - 지지도가 낮은 순서부터 시작하여, 조건부 패턴을 생성
    - 모든 아이템에 대해서 반복
    - Conditional Pattern bases를 기반으로 패턴 생성
        - "맥주를 구매했을 경우" - "기저귀를 구매했을 경우" - "양상추를 구매했을 경우"
                                 - "양상추를 구매했을 경우"

# 7-4. FP-Growth 알고리즘 - 장단점
1. 장점
    - Apriori 알고리즘보다 빠르고 2번의 탐색만 필요함
    - 후보 Itemsets을 생성할 필요없이 진행 가능
2. 단점
    - 대용량의 데이터셋에서 메모리를 효율적으로 사용하지 않음
    - Apriori 알고리즘에 비해서 설계하기 어려움
    - 지지도의 계산이 FP-Tree가 만들어지고 나서야 가능함

# 8. Apriori, FP-Growth 코드 연습
- 참고 : https://www.kaggle.com/chocozzz/00-apriori-fp-growth
- 참고 : https://www.kaggle.com/chocozzz/t-academy-recommendation2/code

In [16]:
import mlxtend
import numpy as np
import pandas as pd

ModuleNotFoundError: No module named 'mlxtend'

In [17]:
pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.19.0-py2.py3-none-any.whl (1.3 MB)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (0.24.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (3.3.4)
Requirement already satisfied: pandas>=0.24.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.2.4)
Requirement already satisfied: joblib>=0.13.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (59.4.0)
Requirement already satisfied: scipy>=1.2.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.6.2)
Requirement already satisfied: numpy>=1.16.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.20.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.2.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.19.0
Note: you may need to restart the kernel to use updated packages.

In [18]:
import mlxtend
import numpy as np
import pandas as pd

In [20]:
# 데이터셋을 생성
# 우유, 기저귀, 주스, 맥주, 양상추
data = np.array([
    ['우유', '기저귀', '주스'],             # 0번의 거래
    ['양상추', '기저귀', '맥주'],           # 1번의 거래
    ['우유', '양상추', '기저귀', '맥주'],   # 2번의 거래
    ['양상추', '맥주']                      # 3번의 거래
])

<ipython-input-20-1a4be66cff8e>:3: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  data = np.array([

1. Apriori 알고리즘

In [21]:
# 거래가 어떤 식으로 이루어졌는지 확인
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
# te.columns_ : column의 순서 정보를 저장하고 있는 코드
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     기저귀     맥주    양상추     우유     주스
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

In [22]:
%%time
from mlxtend.frequent_patterns import apriori

# min_support : 최소지지도
apriori(df, min_support=0.5, use_colnames=True)

Wall time: 20.1 ms

   support        itemsets
0     0.75           (기저귀)
1     0.75            (맥주)
2     0.75           (양상추)
3     0.50            (우유)
4     0.50       (맥주, 기저귀)
5     0.50      (양상추, 기저귀)
6     0.50       (우유, 기저귀)
7     0.75       (맥주, 양상추)
8     0.50  (맥주, 양상추, 기저귀)

2. FP-Frowth 알고리즘

In [23]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     기저귀     맥주    양상추     우유     주스
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

In [26]:
%%time
from mlxtend.frequent_patterns import fpgrowth, association_rules

fpgrowth(df, min_support=0.5, use_colnames=True)

Wall time: 4.01 ms

   support        itemsets
0     0.75           (기저귀)
1     0.50            (우유)
2     0.75           (양상추)
3     0.75            (맥주)
4     0.50       (맥주, 기저귀)
5     0.50      (양상추, 기저귀)
6     0.50  (맥주, 양상추, 기저귀)
7     0.50       (우유, 기저귀)
8     0.75       (맥주, 양상추)

- Q. 인과관계를 파악하는 추천시스템도 연구가 되고 있는지
    - 베이지안 확률 통계 기반의 통계 분야가 따로 있음
- Q. 신규고객에 대한 추천은 어떻게 이루어지는지
    - 연관규칙을 통해서 상품집단을 만들 수 있다 (ex. 치킨과 치킨 무, 아이패드와 애플펜슬)
    - 콜드스타트 문제는 유투브의 사례를 통해 확인할 수 있음
- Q. apriori에서 신뢰도나 향상도를 데이터프레임에서 확인하려면
    - 참고 : http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/
- Q. 현업에서 이런 apriori, fp-growth 알고리즘을 많이 사용하는지.
    - 현업에서는 컨텐츠 기반, 협업 필터링 기반, 딥러닝 기반 추천 알고리즘을 많이 사용한다. 
- Q. 이 알고리즘은 컨텐츠 기반 필터링, 협업 필터링 둘다에 해당하지 않는 것 같은데 맞는지.
    - 이 두 가지 알고리즘은 룰기반, 메모리와 시간 소요가 큰 편
    - 실제로 생성되는 규칙이 많아, 적용하기에는 쉽지 않다. 
    - apriori는 간단하게 베이스라인을 통해 연관이 있는지 시각적으로 의미를 파악할 때 사용하기 좋다.
- Q. 신규고객에게는 빈도가 제일 높거나 지지도가 제일 높은 상품을 사라고 권하면 되지 않을지
    - 실제로는 신규 고객, 이용 고객, 이용 고객 중 제품 충성도가 높은 고객으로 타겟를 나눔.
    - 사용자 집단에 따라서 알고리즘이 다르게 적용됨

In [27]:
association = fpgrowth(df, min_support=0.1, use_colnames=True)
association_rules(association, metric='confidence', min_threshold=0.5, support_only=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(맥주),(기저귀),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
1,(기저귀),(맥주),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
2,(양상추),(기저귀),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
3,(기저귀),(양상추),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
4,"(맥주, 양상추)",(기저귀),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
5,"(맥주, 기저귀)",(양상추),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
6,"(양상추, 기저귀)",(맥주),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
7,(맥주),"(양상추, 기저귀)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
8,(양상추),"(맥주, 기저귀)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
9,(기저귀),"(맥주, 양상추)",0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
10,(우유),(기저귀),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
11,(기저귀),(우유),0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
12,(우유),(맥주),0.50,0.75,0.25,0.500000,0.666667,-0.1250,0.50
13,(우유),(양상추),0.50,0.75,0.25,0.500000,0.666667,-0.1250,0.50
14,"(맥주, 우유)",(기저귀),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
15,"(맥주, 기저귀)",(우유),0.50,0.50,0.25,0.500000,1.000000,0.0000,1.00
16,"(우유, 기저귀)",(맥주),0.50,0.75,0.25,0.500000,0.666667,-0.1250,0.50
17,(우유),"(맥주, 기저귀)",0.50,0.50,0.25,0.500000,1.000000,0.0000,1.00
18,"(우유, 양상추)",(기저귀),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
19,"(우유, 기저귀)",(양상추),0.50,0.75,0.25,0.500000,0.666667,-0.1250,0.50
20,"(양상추, 기저귀)",(우유),0.50,0.50,0.25,0.500000,1.000000,0.0000,1.00
21,(우유),"(양상추, 기저귀)",0.50,0.50,0.25,0.500000,1.000000,0.0000,1.00
22,"(맥주, 우유)",(양상추),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
23,"(우유, 양상추)",(맥주),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
24,(우유),"(맥주, 양상추)",0.50,0.75,0.25,0.500000,0.666667,-0.1250,0.50
25,"(맥주, 우유, 양상추)",(기저귀),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
26,"(맥주, 우유, 기저귀)",(양상추),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
27,"(맥주, 양상추, 기저귀)",(우유),0.50,0.50,0.25,0.500000,1.000000,0.0000,1.00
28,"(우유, 양상추, 기저귀)",(맥주),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
29,"(맥주, 우유)","(양상추, 기저귀)",0.25,0.50,0.25,1.000000,2.000000,0.1250,inf
30,"(맥주, 기저귀)","(우유, 양상추)",0.50,0.25,0.25,0.500000,2.000000,0.1250,1.50
31,"(우유, 양상추)","(맥주, 기저귀)",0.25,0.50,0.25,1.000000,2.000000,0.1250,inf
32,"(우유, 기저귀)","(맥주, 양상추)",0.50,0.75,0.25,0.500000,0.666667,-0.1250,0.50
33,"(양상추, 기저귀)","(맥주, 우유)",0.50,0.25,0.25,0.500000,2.000000,0.1250,1.50
34,(우유),"(맥주, 양상추, 기저귀)",0.50,0.50,0.25,0.500000,1.000000,0.0000,1.00
35,(주스),(우유),0.25,0.50,0.25,1.000000,2.000000,0.1250,inf
36,(우유),(주스),0.50,0.25,0.25,0.500000,2.000000,0.1250,1.50
37,(주스),(기저귀),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
38,"(주스, 우유)",(기저귀),0.25,0.75,0.25,1.000000,1.333333,0.0625,inf
39,"(주스, 기저귀)",(우유),0.25,0.50,0.25,1.000000,2.000000,0.1250,inf
40,"(우유, 기저귀)",(주스),0.50,0.25,0.25,0.500000,2.000000,0.1250,1.50
41,(주스),"(우유, 기저귀)",0.25,0.50,0.25,1.000000,2.000000,0.1250,inf
42,(우유),"(주스, 기저귀)",0.50,0.25,0.25,0.500000,2.000000,0.1250,1.50
43,(맥주),(양상추),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
44,(양상추),(맥주),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf