In [ ]:
# pip install selenium

In [1]:
from selenium import webdriver
import time

url = "https://finance.naver.com/sise/sise_market_sum.naver"
browser = webdriver.Chrome("data/chromedriver_win32/chromedriver.exe")    
browser.get(url)
time.sleep(2)

<ipython-input-1-40d738c4ec6d>:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome("data/chromedriver_win32/chromedriver.exe")

In [2]:
# 초기항목 설정
button = browser.find_element_by_xpath("//*[@id='contentarea_left']/div[2]/form/div/div/div/a[2]/img")
button.click()

<ipython-input-2-f267bf3ee4db>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  button = browser.find_element_by_xpath("//*[@id='contentarea_left']/div[2]/form/div/div/div/a[2]/img")

In [4]:
# 체크박스 : 시가총액, 영업이익, PER, ROE, ROA, PBR 체크
checkbox = browser.find_element_by_id("option1")
checkbox.click()
checkbox = browser.find_element_by_id("option15")
checkbox.click()
checkbox = browser.find_element_by_id("option21")
checkbox.click()
checkbox = browser.find_element_by_id("option5")
checkbox.click()
checkbox = browser.find_element_by_id("option18")
checkbox.click()
checkbox = browser.find_element_by_id("option24")
checkbox.click()

<ipython-input-4-dd0f73822a87>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  checkbox = browser.find_element_by_id("option1")
<ipython-input-4-dd0f73822a87>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  checkbox = browser.find_element_by_id("option15")
<ipython-input-4-dd0f73822a87>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  checkbox = browser.find_element_by_id("option21")
<ipython-input-4-dd0f73822a87>:8: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  checkbox = browser.find_element_by_id("option5")
<ipython-input-4-dd0f73822a87>:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  checkbox = browser.find_element_by_id("option18")
<ipython-input-4-dd0f73822a87>:12: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  checkbox = browser.find_element_by_id("option24")

In [3]:
# 적용하기 클릭
apply_button = browser.find_element_by_xpath("//*[@id='contentarea_left']/div[2]/form/div/div/div/a[1]/img")
apply_button.click()

<ipython-input-3-b250150e68bd>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  apply_button = browser.find_element_by_xpath("//*[@id='contentarea_left']/div[2]/form/div/div/div/a[1]/img")

In [4]:
# 코스닥 설정
kosdaq_btn = browser.find_element_by_xpath("//*[@id='contentarea']/div[3]/div/div[2]/a")
kosdaq_btn.click()

<ipython-input-4-720841956351>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  kosdaq_btn = browser.find_element_by_xpath("//*[@id='contentarea']/div[3]/div/div[2]/a")

- html.parser 사용 -> datatable 만들기
    - 기존에 import 된 BeautifulSoup은 4.6.0으로 html_table_parser 패키지의 parser_functions 사용 불가
    - 해당 기능을 사용하기 위해 4.4.1로 downgrade함

- 참고 : https://tariat.tistory.com/793

In [9]:
pip install beautifulsoup4==4.4.1

Collecting beautifulsoup4==4.4.1
  Using cached beautifulsoup4-4.4.1-py3-none-any.whl (81 kB)
Installing collected packages: beautifulsoup4
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.9.3
    Uninstalling beautifulsoup4-4.9.3:
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not install packages due to an OSError: [WinError 5] 액세스가 거부되었습니다: 'c:\\programdata\\anaconda3\\lib\\site-packages\\beautifulsoup4-4.9.3.dist-info\\COPYING.txt'
Consider using the `--user` option or check the permissions.

In [13]:
pip install html_table_parser

Collecting html_table_parser
  Using cached html_table_parser-0.1.0-py3-none-any.whl
Collecting beautifulsoup4==4.4.1
  Using cached beautifulsoup4-4.4.1-py3-none-any.whl (81 kB)
Installing collected packages: beautifulsoup4, html-table-parser
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.9.3
    Uninstalling beautifulsoup4-4.9.3:
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not install packages due to an OSError: [WinError 5] 액세스가 거부되었습니다: 'c:\\programdata\\anaconda3\\lib\\site-packages\\beautifulsoup4-4.9.3.dist-info\\COPYING.txt'
Consider using the `--user` option or check the permissions.

In [10]:
pip install bs4

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# pip install --upgrade html5lib

In [ ]:
# pip install html5lib

In [7]:
import html5lib
from bs4 import BeautifulSoup

result_html = browser.page_source
result_soup = BeautifulSoup(result_html, "html.parser")
tags = result_soup.find_all("table", attrs={"class":"type_2"})[0]

In [8]:
# html_parser 패키지 이용해서 변환
from html_table_parser import parser_functions as parser
html_table = parser.make2d(tags)

In [9]:
# 컬럼 기준 데이터 변환, 컬럼 제목 지정하고 데이터 프레임으로 변환
import pandas as pd
df = pd.DataFrame(html_table[1:], columns=html_table[0])
df.head()

,N,종목명,현재가,전일비,등락률,액면가,거래량,상장주식수,시가총액,외국인비율,PER,ROE,토론실
0,,,,,,,,,,,None,None,None
1,1,셀트리온헬스케어,"62,900",0,0.00%,"1,000",0,"155,061","97,533",17.36,59.34,13.36,
2,2,에코프로비엠,"393,500",0,0.00%,500,0,"22,919","90,188",14.35,105.84,N/A,
3,3,엘앤에프,"202,500",0,0.00%,500,0,"34,810","70,491",20.54,-179.68,-9.39,
4,4,펄어비스,"100,600",0,0.00%,100,0,"66,222","66,619",14.42,128.97,16.45,

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   N       81 non-null     object
 1   종목명     81 non-null     object
 2   현재가     81 non-null     object
 3   전일비     81 non-null     object
 4   등락률     81 non-null     object
 5   액면가     81 non-null     object
 6   거래량     81 non-null     object
 7   상장주식수   81 non-null     object
 8   시가총액    81 non-null     object
 9   외국인비율   81 non-null     object
 10  PER     80 non-null     object
 11  ROE     80 non-null     object
 12  토론실     80 non-null     object
dtypes: object(13)
memory usage: 8.4+ KB

In [11]:
df.dropna(inplace=True)
df.head()

,N,종목명,현재가,전일비,등락률,액면가,거래량,상장주식수,시가총액,외국인비율,PER,ROE,토론실
1,1,셀트리온헬스케어,"62,900",0,0.00%,"1,000",0,"155,061","97,533",17.36,59.34,13.36,
2,2,에코프로비엠,"393,500",0,0.00%,500,0,"22,919","90,188",14.35,105.84,N/A,
3,3,엘앤에프,"202,500",0,0.00%,500,0,"34,810","70,491",20.54,-179.68,-9.39,
4,4,펄어비스,"100,600",0,0.00%,100,0,"66,222","66,619",14.42,128.97,16.45,
5,5,카카오게임즈,"75,500",0,0.00%,100,0,"77,697","58,661",10.93,57.99,12.12,

In [12]:
df2 = df.copy()

In [13]:
df2 = df.drop(["토론실"], axis=1)
df2.head()

,N,종목명,현재가,전일비,등락률,액면가,거래량,상장주식수,시가총액,외국인비율,PER,ROE
1,1,셀트리온헬스케어,"62,900",0,0.00%,"1,000",0,"155,061","97,533",17.36,59.34,13.36
2,2,에코프로비엠,"393,500",0,0.00%,500,0,"22,919","90,188",14.35,105.84,N/A
3,3,엘앤에프,"202,500",0,0.00%,500,0,"34,810","70,491",20.54,-179.68,-9.39
4,4,펄어비스,"100,600",0,0.00%,100,0,"66,222","66,619",14.42,128.97,16.45
5,5,카카오게임즈,"75,500",0,0.00%,100,0,"77,697","58,661",10.93,57.99,12.12

In [14]:
df2.dropna(axis=0)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 1 to 80
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   N       80 non-null     object
 1   종목명     80 non-null     object
 2   현재가     80 non-null     object
 3   전일비     80 non-null     object
 4   등락률     80 non-null     object
 5   액면가     80 non-null     object
 6   거래량     80 non-null     object
 7   상장주식수   80 non-null     object
 8   시가총액    80 non-null     object
 9   외국인비율   80 non-null     object
 10  PER     80 non-null     object
 11  ROE     80 non-null     object
dtypes: object(12)
memory usage: 8.1+ KB

- 참고 : https://codesample-factory.tistory.com/1081
    - pandas는 값이 np.nan 객체인 경우 null로 인식하며 dataframe에서 `NaN`으로 인쇄
    - 누락된 값은 pandas가 null로 인식하지 못하는 빈 문자열일 수도 있다.
    - 해결방법 : replace()를 사용하여 빈 셀에 있는 모든 것을 np.nan 객체로 변환한 다음, dropna()를 호출

In [15]:
import numpy as np
df2[:].replace("", np.nan, inplace=True)
df2

,N,종목명,현재가,전일비,등락률,액면가,거래량,상장주식수,시가총액,외국인비율,PER,ROE
1,1,셀트리온헬스케어,"62,900",0,0.00%,"1,000",0,"155,061","97,533",17.36,59.34,13.36
2,2,에코프로비엠,"393,500",0,0.00%,500,0,"22,919","90,188",14.35,105.84,N/A
3,3,엘앤에프,"202,500",0,0.00%,500,0,"34,810","70,491",20.54,-179.68,-9.39
4,4,펄어비스,"100,600",0,0.00%,100,0,"66,222","66,619",14.42,128.97,16.45
5,5,카카오게임즈,"75,500",0,0.00%,100,0,"77,697","58,661",10.93,57.99,12.12
...,...,...,...,...,...,...,...,...,...,...,...,...
76,49,SFA반도체,"6,530",0,0.00%,500,0,"164,460","10,739",4.99,26.12,5.22
77,50,레고켐바이오,"44,300",0,0.00%,500,0,"24,235","10,736",8.30,-26.82,-6.19
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df2.dropna(inplace=True)
df2.head()

,N,종목명,현재가,전일비,등락률,액면가,거래량,상장주식수,시가총액,외국인비율,PER,ROE
1,1,셀트리온헬스케어,"62,900",0,0.00%,"1,000",0,"155,061","97,533",17.36,59.34,13.36
2,2,에코프로비엠,"393,500",0,0.00%,500,0,"22,919","90,188",14.35,105.84,N/A
3,3,엘앤에프,"202,500",0,0.00%,500,0,"34,810","70,491",20.54,-179.68,-9.39
4,4,펄어비스,"100,600",0,0.00%,100,0,"66,222","66,619",14.42,128.97,16.45
5,5,카카오게임즈,"75,500",0,0.00%,100,0,"77,697","58,661",10.93,57.99,12.12

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 1 to 77
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   N       50 non-null     object
 1   종목명     50 non-null     object
 2   현재가     50 non-null     object
 3   전일비     50 non-null     object
 4   등락률     50 non-null     object
 5   액면가     50 non-null     object
 6   거래량     50 non-null     object
 7   상장주식수   50 non-null     object
 8   시가총액    50 non-null     object
 9   외국인비율   50 non-null     object
 10  PER     50 non-null     object
 11  ROE     50 non-null     object
dtypes: object(12)
memory usage: 5.1+ KB

In [20]:
df2.to_csv("selenium_text.xlsx")