In [15]:
pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Note: you may need to restart the kernel to use updated packages.

In [22]:
from selenium import webdriver

url = "https://finance.naver.com/sise/sise_market_sum.naver"
browser = webdriver.Chrome("data/chromedriver_win32/chromedriver.exe")    
browser.get(url)

<ipython-input-22-1f3a3d409b4f>:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome("data/chromedriver_win32/chromedriver.exe")

In [27]:
# 초기항목 설정
button = browser.find_element_by_xpath("//*[@id='contentarea_left']/div[2]/form/div/div/div/a[2]/img")
button.click()

<ipython-input-27-c75548d0c04f>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  button = browser.find_element_by_xpath("//*[@id='contentarea_left']/div[2]/form/div/div/div/a[2]/img")

In [31]:
# 체크박스 : 시가총액, 영업이익, PER, ROE, ROA, PBR 체크
checkbox = browser.find_element_by_id("option1")
checkbox.click()
checkbox = browser.find_element_by_id("option15")
checkbox.click()
checkbox = browser.find_element_by_id("option21")
checkbox.click()
checkbox = browser.find_element_by_id("option5")
checkbox.click()
checkbox = browser.find_element_by_id("option18")
checkbox.click()
checkbox = browser.find_element_by_id("option24")
checkbox.click()

<ipython-input-31-dd0f73822a87>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  checkbox = browser.find_element_by_id("option1")
<ipython-input-31-dd0f73822a87>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  checkbox = browser.find_element_by_id("option15")
<ipython-input-31-dd0f73822a87>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  checkbox = browser.find_element_by_id("option21")
<ipython-input-31-dd0f73822a87>:8: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  checkbox = browser.find_element_by_id("option5")
<ipython-input-31-dd0f73822a87>:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  checkbox = browser.find_element_by_id("option18")
<ipython-input-31-dd0f73822a87>:12: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  checkbox = browser.find_element_by_id("option24")

In [33]:
# 적용하기 클릭
apply_button = browser.find_element_by_xpath("//*[@id='contentarea_left']/div[2]/form/div/div/div/a[1]/img")
apply_button.click()

<ipython-input-33-b250150e68bd>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  apply_button = browser.find_element_by_xpath("//*[@id='contentarea_left']/div[2]/form/div/div/div/a[1]/img")

In [37]:
# 코스닥 설정
kosdaq_btn = browser.find_element_by_xpath("//*[@id='contentarea']/div[3]/div/div[2]/a")
kosdaq_btn.click()

<ipython-input-37-720841956351>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  kosdaq_btn = browser.find_element_by_xpath("//*[@id='contentarea']/div[3]/div/div[2]/a")

- html.parser 사용 -> datatable 만들기
    - 기존에 import 된 BeautifulSoup은 4.6.0으로 html_table_parser 패키지의 parser_functions 사용 불가
    - 해당 기능을 사용하기 위해 4.4.1로 downgrade함

- 참고 : https://tariat.tistory.com/793

In [55]:
pip install beautifulsoup4==4.4.1

Requirement already satisfied: beautifulsoup4==4.4.1 in c:\programdata\anaconda3\lib\site-packages (4.4.1)
Note: you may need to restart the kernel to use updated packages.

In [50]:
pip install html_table_parser

Collecting html_table_parser
  Using cached html_table_parser-0.1.0-py3-none-any.whl
Collecting beautifulsoup4==4.4.1
  Using cached beautifulsoup4-4.4.1-py3-none-any.whl (81 kB)
Installing collected packages: beautifulsoup4, html-table-parser
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.10.0
    Uninstalling beautifulsoup4-4.10.0:
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not install packages due to an OSError: [WinError 5] 액세스가 거부되었습니다: 'c:\\programdata\\anaconda3\\lib\\site-packages\\beautifulsoup4-4.10.0.dist-info\\AUTHORS'
Consider using the `--user` option or check the permissions.

In [59]:
# from bs4 import BeautifulSoup

result_html = browser.page_source
result_soup = BeautifulSoup(result_html, "html.parser")
tags = result_soup.find_all("table", attrs={"class":"type_2"})[0]

In [60]:
# html_parser 패키지 이용해서 변환
from html_table_parser import parser_functions as parser
html_table = parser.make2d(tags)

In [62]:
# 컬럼 기준 데이터 변환, 컬럼 제목 지정하고 데이터 프레임으로 변환
import pandas as pd
df = pd.DataFrame(html_table[1:], columns=html_table[0])
df.head()

,N,종목명,현재가,전일비,등락률,액면가,시가총액,영업이익,PER,ROE,ROA,PBR,토론실
0,,,,,,,,,,,None,None,None
1,1,셀트리온헬스케어,"62,900",600,-0.94%,"1,000","97,533","3,621",59.34,13.36,7.30,4.85,
2,2,에코프로비엠,"393,500","18,300",+4.88%,500,"90,188",548,105.84,N/A,N/A,16.75,
3,3,엘앤에프,"202,500","7,500",+3.85%,500,"70,491",15,-179.68,-9.39,-3.40,8.97,
4,4,펄어비스,"100,600","5,500",+5.78%,100,"66,619","1,573",128.97,16.45,11.43,8.59,

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   N       81 non-null     object
 1   종목명     81 non-null     object
 2   현재가     81 non-null     object
 3   전일비     81 non-null     object
 4   등락률     81 non-null     object
 5   액면가     81 non-null     object
 6   시가총액    81 non-null     object
 7   영업이익    81 non-null     object
 8   PER     81 non-null     object
 9   ROE     81 non-null     object
 10  ROA     80 non-null     object
 11  PBR     80 non-null     object
 12  토론실     80 non-null     object
dtypes: object(13)
memory usage: 8.4+ KB

In [66]:
df.dropna(inplace=True)
df.head()

,N,종목명,현재가,전일비,등락률,액면가,시가총액,영업이익,PER,ROE,ROA,PBR,토론실
1,1,셀트리온헬스케어,"62,900",600,-0.94%,"1,000","97,533","3,621",59.34,13.36,7.30,4.85,
2,2,에코프로비엠,"393,500","18,300",+4.88%,500,"90,188",548,105.84,N/A,N/A,16.75,
3,3,엘앤에프,"202,500","7,500",+3.85%,500,"70,491",15,-179.68,-9.39,-3.40,8.97,
4,4,펄어비스,"100,600","5,500",+5.78%,100,"66,619","1,573",128.97,16.45,11.43,8.59,
5,5,카카오게임즈,"75,500","2,000",+2.72%,100,"58,661",665,57.99,12.12,7.10,3.97,

In [70]:
df2 = df.copy()

In [72]:
df2 = df.drop(["토론실"], axis=1)
df2.head()

,N,종목명,현재가,전일비,등락률,액면가,시가총액,영업이익,PER,ROE,ROA,PBR
1,1,셀트리온헬스케어,"62,900",600,-0.94%,"1,000","97,533","3,621",59.34,13.36,7.30,4.85
2,2,에코프로비엠,"393,500","18,300",+4.88%,500,"90,188",548,105.84,N/A,N/A,16.75
3,3,엘앤에프,"202,500","7,500",+3.85%,500,"70,491",15,-179.68,-9.39,-3.40,8.97
4,4,펄어비스,"100,600","5,500",+5.78%,100,"66,619","1,573",128.97,16.45,11.43,8.59
5,5,카카오게임즈,"75,500","2,000",+2.72%,100,"58,661",665,57.99,12.12,7.10,3.97

In [ ]:
df2

In [68]:
df.to_csv("selenium_text.xlsx")