- 참고 : https://sieon-dev.tistory.com/15

## 1. 모듈 import (필요없는 모듈 삭제, 필요한 모듈 추가하면서 진행)
- pandas
- numpy
- matplotlib
- re
- konlpy
- tensorflow
- seaborn
- pandas_profiling

In [21]:
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
from konlpy.tag import Okt
from tqdm import tqdm
import tensorflow
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
import pandas_profiling

In [41]:
import sklearn
from sklearn.model_selection import train_test_split

### 1-1. 파이썬 & 모듈 버전 확인 (필요없는 모듈 삭제, 필요한 모듈 추가하면서 진행)

In [42]:
print(" python version : ", sys.version, "\n", "-" * 50)
print(" pandas version : ", pd.__version__, "\n", "-" * 50)
print(" numpy version : ", np.__version__, "\n", "-" * 50)
print(" re version : ", re.__version__, "\n", "-" * 50)
print(" tensorflow version : ", tensorflow.__version__, "\n", "-" * 50)
print(" seaborn version : ", sns.__version__, "\n", "-" * 50)
print(" pandas_profiling version : ", pandas_profiling.__version__, "\n", "-" * 50)
print(" sklearn version : ", sklearn.__version__, "\n", "-" * 50)

 python version :  3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]
 --------------------------------------------------
 pandas version :  1.2.4
 --------------------------------------------------
 numpy version :  1.20.1
 --------------------------------------------------
 re version :  2.2.1
 --------------------------------------------------
 tensorflow version :  2.3.0
 --------------------------------------------------
 seaborn version :  0.11.1
 --------------------------------------------------
 pandas_profiling version :  2.9.0
 --------------------------------------------------
 sklearn version :  0.24.1
 --------------------------------------------------

### 1-2. 컴퓨터 사양 확인

![](2022-03-24-13-31-45.png)

## 2. 데이터 불러오기

In [29]:
# 뉴스데이터 불러오기
newsdata = pd.read_csv("../data/Newsfile3.csv", encoding='euc-kr')
newsdata.tail(3)

           date                          title
58439  20151019  [특징주]제주반도체, 美·中 대규모 투자유치에 '上'
58440  20151019   [반도체] 2016 반도체 투자 감소 예상 - 미래
58441  20151019       제주반도체, '해외투자유치설' 조회공시 요구

## 3. 데이터 확인

In [34]:
# 데이터 갯수 : 58442개
# 컬럼 갯수 : 2개
newsdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58442 entries, 0 to 58441
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    58442 non-null  int64
 1   title   58442 non-null  object
dtypes: int64(1), object(1)
memory usage: 913.3+ KB

In [35]:
# 결측치 확인
newsdata.isnull().sum()

date     0
title    0
dtype: int64

## 4. train, test dataset 생성

In [43]:
# train, test set 분리
train_data, test_data = train_test_split(newsdata)

### 4-1. train_data

In [45]:
train_data.head(2)

           date                               title
36018  20190221  2월 1~20일 수출 11.7% 감소…반도체 가격 하락에 영향
310    20220305                 러시아가 한국 반도체를 무너뜨릴까?

In [46]:
# train_data shape 확인
train_data.shape

(43831, 2)

### 4-2. test_data

In [47]:
# test_data 확인
test_data.head(2)

           date                                title
52173  20170308              코미코, 반도체 수요증가의 직접 수혜 전망
7148   20210918  [주목!e해외주식]'반도체 노광장비 독점' ASML, 실적도 굿

In [48]:
# test_data shape 확인
test_data.shape

(14611, 2)