In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import re
from konlpy.tag import Okt
from tqdm import tqdm
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
import os
from sklearn.model_selection import train_test_split
from collections import Counter

## 1. 데이터 불러오기

In [7]:
# 현재 작업 경로 확인
print(os.getcwd())

c:\Workspace\HK_Project\7_자연어처리

In [8]:
# newstitle 데이터 확인
newstitle = pd.read_csv("../data/Newsfile3.csv", encoding='euc-kr')
newstitle.tail(3)

           date                          title
58439  20151019  [특징주]제주반도체, 美·中 대규모 투자유치에 '上'
58440  20151019   [반도체] 2016 반도체 투자 감소 예상 - 미래
58441  20151019       제주반도체, '해외투자유치설' 조회공시 요구

In [16]:
closedate_list = ["closedate_2015.xls", "closedate_2016.xls", "closedate_2017.xls", 
                  "closedate_2018.xls", "closedate_2019.xls", "closedate_2020.xls",
                  "closedate_2021.xls", "closedate_2022.xls"]
closedate = pd.read_csv()

def process(df):
    closedate = pd.concat(closedate, df)
    return df

TypeError: read_csv() missing 1 required positional argument: 'filepath_or_buffer'

In [13]:
# closedate = pd.read_excel("../data/closedate_2015.xls")
# closedate

       일자 및 요일    요일구분            비고
0   2015-01-01  목요일               신정
1   2015-02-18  수요일               설날
2   2015-02-19  목요일               설날
3   2015-02-20  금요일               설날
4   2015-05-01  금요일            근로자의날
5   2015-05-05  화요일             어린이날
6   2015-05-25  월요일            석가탄신일
7   2015-08-14  금요일     광복70주년 임시공휴일
8   2015-09-28  월요일               추석
9   2015-09-29  화요일        추석(대체휴일제)
10  2015-10-09  금요일              한글날
11  2015-12-25  금요일              성탄절
12  2015-12-31  목요일            연말휴장일

## 2. 데이터 확인

In [11]:
newstitle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58442 entries, 0 to 58441
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    58442 non-null  int64
 1   title   58442 non-null  object
dtypes: int64(1), object(1)
memory usage: 913.3+ KB

In [10]:
# 결측치 확인
newstitle.isnull().sum()

date     0
title    0
dtype: int64