In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
import glob

In [4]:
# pip install konlpy

In [5]:
# pip install tensorflow

In [6]:
# pip install sklearn

## 1. 데이터 불러오기

In [7]:
# 현재 작업 경로 확인
print(os.getcwd())

c:\Users\easya\Workspace\HK_Project\7_자연어처리

- 휴장일 데이터

In [2]:
# 2015~2022 휴장일 데이터 확인
file1 = pd.read_excel("../data/closedate_2015.xls")
file2 = pd.read_excel("../data/closedate_2016.xls")
file3 = pd.read_excel("../data/closedate_2017.xls")
file4 = pd.read_excel("../data/closedate_2018.xls")
file5 = pd.read_excel("../data/closedate_2019.xls")
file6 = pd.read_excel("../data/closedate_2020.xls")
file7 = pd.read_excel("../data/closedate_2021.xls")
file8 = pd.read_excel("../data/closedate_2022.xls")

In [3]:
# file1 데이터 형식 확인
file1.head(2)

      일자 및 요일    요일구분  비고
0  2015-01-01  목요일     신정
1  2015-02-18  수요일     설날

In [4]:
# file2 데이터 형식 확인
file2.head(2)

      일자 및 요일    요일구분  비고
0  2016-01-01  금요일     신정
1  2016-02-08  월요일     설날

In [5]:
files_list = [file1, file2, file3, file4, file5, file6, file7]

files_all = pd.concat(files_list, ignore_index=True)
files_all

        일자 및 요일    요일구분         비고
0    2015-01-01  목요일            신정
1    2015-02-18  수요일            설날
2    2015-02-19  목요일            설날
3    2015-02-20  금요일            설날
4    2015-05-01  금요일         근로자의날
..          ...     ...        ...
99   2021-09-21  화요일            추석
100  2021-09-22  수요일            추석
101  2021-10-04  월요일     개천절(대체휴일)
102  2021-10-11  월요일     한글날(대체휴일)
103  2021-12-31  금요일         연말휴장일

[104 rows x 3 columns]

In [6]:
files_all.to_csv('../data/closedate_all.csv')