In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import re
from konlpy.tag import Okt
from tqdm import tqdm
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
import os
from sklearn.model_selection import train_test_split
from collections import Counter

## 1. 데이터 불러오기 (2021 기준)
    - 1-1. 휴장일
    - 1-2. Newsfile 
    - 1-3. 반도체(005290) : 상승률 1.5 이상--1, 상승률 1.5 이하--0 라벨링 데이터

### 1-1. 2021 휴장일 날짜

In [7]:
closedate_2021 = pd.read_excel('../data/closedate_2021.xls')
closedate_2021.head(3)

      일자 및 요일    요일구분  비고
0  2021-01-01  금요일     신정
1  2021-02-11  목요일     설날
2  2021-02-12  금요일     설날

In [8]:
closedate_2021 = closedate_2021[['일자 및 요일', '요일구분']]
closedate_2021.head(3)

      일자 및 요일    요일구분
0  2021-01-01  금요일
1  2021-02-11  목요일
2  2021-02-12  금요일

### 1-2. newsfile

In [10]:
newsdata_2021 = pd.read_csv('../data/Newsfile3.csv', encoding='euc-kr')
newsdata_2021.head(3)

       date                                  title
0  20220316  유럽 반도체 공급망 지원 호응… 인텔, 10년간 110조 통큰 투자
1  20220316    반도체 또다시 ‘쩐의 전쟁‘…인텔 “유럽 전역에 110조 투자”
2  20220316    “韓, 세계 2위 中수입시장 비중 줄어…반도체 외 돌파구 필요”