In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import re
from konlpy.tag import Okt
from tqdm import tqdm
from tensorflow import keras
import os

## 1. 데이터 불러오기
    - 1.1_뉴스데이터
    - 1.2_개별 주가 데이터

In [2]:
news = pd.read_csv('../data/newsdata_nextopen.csv')
news.head(3)

,Unnamed: 0,date,NextOpenDate,title,nouns
0,0,2015-10-19,2015-10-20,먹거나 먹히거나반도체업계 합종연횡 활발,반도체 업계 합종연횡 활발
1,1,2015-10-19,2015-10-20,세계 반도체 MA 억달러,세계 반도체 달러
2,2,2015-10-19,2015-10-20,제주반도체 해외투자유치설 조회공시 요구,제주 반도체 해외 투자 유치 설 조회 공시 요구

In [4]:
news.drop(columns=['Unnamed: 0'], inplace=True)
news.head(3)

         date NextOpenDate                  title                       nouns
0  2015-10-19   2015-10-20  먹거나 먹히거나반도체업계 합종연횡 활발              반도체 업계 합종연횡 활발
1  2015-10-19   2015-10-20          세계 반도체 MA 억달러                   세계 반도체 달러
2  2015-10-19   2015-10-20  제주반도체 해외투자유치설 조회공시 요구  제주 반도체 해외 투자 유치 설 조회 공시 요구