In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import re
from konlpy.tag import Okt
from tqdm import tqdm
from tensorflow import keras
import os

## 1. 데이터 불러오기
    - 1.1_뉴스데이터
    - 1.2_개별 주가 데이터

### 1.1_뉴스데이터

In [4]:
news = pd.read_csv('../data/newsdata_nextopen.csv')
news.head(3)

,Unnamed: 0,date,NextOpenDate,title,nouns
0,0,2015-10-19,2015-10-20,먹거나 먹히거나반도체업계 합종연횡 활발,반도체 업계 합종연횡 활발
1,1,2015-10-19,2015-10-20,세계 반도체 MA 억달러,세계 반도체 달러
2,2,2015-10-19,2015-10-20,제주반도체 해외투자유치설 조회공시 요구,제주 반도체 해외 투자 유치 설 조회 공시 요구

In [5]:
news.drop(columns=['Unnamed: 0'], inplace=True)
news.head(3)

         date NextOpenDate                  title                       nouns
0  2015-10-19   2015-10-20  먹거나 먹히거나반도체업계 합종연횡 활발              반도체 업계 합종연횡 활발
1  2015-10-19   2015-10-20          세계 반도체 MA 억달러                   세계 반도체 달러
2  2015-10-19   2015-10-20  제주반도체 해외투자유치설 조회공시 요구  제주 반도체 해외 투자 유치 설 조회 공시 요구

In [6]:
news

,date,NextOpenDate,title,nouns
0,2015-10-19,2015-10-20,먹거나 먹히거나반도체업계 합종연횡 활발,반도체 업계 합종연횡 활발
1,2015-10-19,2015-10-20,세계 반도체 MA 억달러,세계 반도체 달러
2,2015-10-19,2015-10-20,제주반도체 해외투자유치설 조회공시 요구,제주 반도체 해외 투자 유치 설 조회 공시 요구
3,2015-10-19,2015-10-20,반도체 반도체 투자 감소 예상 미래,반도체 반도체 투자 감소 예상 미래
4,2015-10-19,2015-10-20,특징주제주반도체 미중 대규모 투자유치에 상,특징 반도체 중 대규모 투자 유치 상
...,...,...,...,...
58437,2022-03-16,2022-03-17,위기에도 혁신 K배터리 한자리반도체 신화 넘본다,위기 혁신 배터리 한자리 반도체 신화
58438,2022-03-16,2022-03-17,대형 반도체 기업 주가 지나친 저평가저점 분할 매수,대형 반도체 기업 주가 평가 점 분할 매수
58439,2022-03-16,2022-03-17,글로벌 비즈 인텔 년간 유럽 반도체 생산연구개발에 조 원 투자,글로벌 비즈 인텔 년 유럽 반도체 생산 연구개발 조 원 투자
58440,2022-03-16,2022-03-17,대러 수입 막힌 품목 개반도체 소재 등 불포함,수입 품목 개 반도체 소재 등 불 포함
58441,2022-03-16,2022-03-17,러우크라이나 사태 차량용 반도체 공급부족 악화시켜,러 우크라이나 사태 차량 용 반도체 공급 부족

### 1.2_개별 주가 데이터

In [19]:
import glob, os

path = '../data/반도체주가데이터/반도체주가데이터'
os.path.join(path, '*.xlsx')

'../data/반도체주가데이터/반도체주가데이터\\*.xlsx'

In [20]:
# 경로 안에 있는 모든 파일 확인
all_files = glob.glob(os.path.join(path, '*.xlsx'))
all_files

['../data/반도체주가데이터/반도체주가데이터\\GST.xlsx',
 '../data/반도체주가데이터/반도체주가데이터\\덕산네오룩스.xlsx',
 '../data/반도체주가데이터/반도체주가데이터\\동진쎄미캠.xlsx',
 '../data/반도체주가데이터/반도체주가데이터\\리노공업.xlsx',
 '../data/반도체주가데이터/반도체주가데이터\\반도체_통합본.xlsx',
 '../data/반도체주가데이터/반도체주가데이터\\에프에스티.xlsx',
 '../data/반도체주가데이터/반도체주가데이터\\오션브릿지.xlsx',
 '../data/반도체주가데이터/반도체주가데이터\\월덱스.xlsx',
 '../data/반도체주가데이터/반도체주가데이터\\유니셈.xlsx',
 '../data/반도체주가데이터/반도체주가데이터\\코미코.xlsx',
 '../data/반도체주가데이터/반도체주가데이터\\코세스.xlsx',
 '../data/반도체주가데이터/반도체주가데이터\\테스나.xlsx',
 '../data/반도체주가데이터/반도체주가데이터\\티씨케이.xlsx',
 '../data/반도체주가데이터/반도체주가데이터\\하나머티리얼즈.xlsx']

In [21]:
# 파일 확인
file = all_files[0]
file

'../data/반도체주가데이터/반도체주가데이터\\GST.xlsx'

In [22]:
# 재목만 추출
file.split('\\')[1]

'GST.xlsx'