- 참고 : https://opendart.fss.or.kr/

In [61]:
import pandas as pd

In [62]:
import warnings
warnings.filterwarnings("ignore")

In [63]:
df = pd.read_csv('../data/2020_3분기보고서_01_재무상태표_20211102.txt', sep='\t', encoding='euc-kr')
df.head(2)

,재무제표종류,종목코드,회사명,시장구분,업종,업종명,결산월,결산기준일,보고서종류,통화,항목코드,항목명,당기 3분기말,전기말,전전기말,Unnamed: 15
0,"재무상태표, 유동/비유동법-별도재무제표",[060310],3S,코스닥시장상장법인,292,특수 목적용 기계 제조업,3,2020-12-31,3분기보고서,KRW,ifrs-full_AssetsAbstract,자산 [abstract],NaN,NaN,NaN,NaN
1,"재무상태표, 유동/비유동법-별도재무제표",[060310],3S,코스닥시장상장법인,292,특수 목적용 기계 제조업,3,2020-12-31,3분기보고서,KRW,ifrs-full_CurrentAssets,유동자산,"16,991,946,452","18,023,023,716",NaN,NaN

In [64]:
df1 = df.copy()
df1.head(2)

,재무제표종류,종목코드,회사명,시장구분,업종,업종명,결산월,결산기준일,보고서종류,통화,항목코드,항목명,당기 3분기말,전기말,전전기말,Unnamed: 15
0,"재무상태표, 유동/비유동법-별도재무제표",[060310],3S,코스닥시장상장법인,292,특수 목적용 기계 제조업,3,2020-12-31,3분기보고서,KRW,ifrs-full_AssetsAbstract,자산 [abstract],NaN,NaN,NaN,NaN
1,"재무상태표, 유동/비유동법-별도재무제표",[060310],3S,코스닥시장상장법인,292,특수 목적용 기계 제조업,3,2020-12-31,3분기보고서,KRW,ifrs-full_CurrentAssets,유동자산,"16,991,946,452","18,023,023,716",NaN,NaN

In [65]:
df1 = df[["종목코드", "회사명", "업종", "업종명",  "항목명", "당기 3분기말"]]
df1.tail(2)

           종목코드 회사명   업종            업종명      항목명          당기 3분기말
90749  [238490]  힘스  292  특수 목적용 기계 제조업     자본총계   81,756,065,092
90750  [238490]  힘스  292  특수 목적용 기계 제조업  자본과부채총계  104,382,409,753

In [66]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90751 entries, 0 to 90750
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   종목코드     90751 non-null  object
 1   회사명      90751 non-null  object
 2   업종       90751 non-null  int64
 3   업종명      90751 non-null  object
 4   항목명      90751 non-null  object
 5   당기 3분기말  82850 non-null  object
dtypes: int64(1), object(5)
memory usage: 4.2+ MB

In [67]:
df1.isna().sum()

종목코드          0
회사명           0
업종            0
업종명           0
항목명           0
당기 3분기말    7901
dtype: int64

In [68]:
df1.dropna(inplace=True)
df1.shape

(82850, 6)

- 전처리

In [69]:
# 종목코드
df1["종목코드"] = df1["종목코드"].str.replace("[", "")
df1["종목코드"] = df1["종목코드"].str.replace("]", "")
df1["종목코드"]

1        060310
2        060310
3        060310
4        060310
5        060310
          ...
90746    238490
90747    238490
90748    238490
90749    238490
90750    238490
Name: 종목코드, Length: 82850, dtype: object

In [70]:
# 당기 3분기말
df1["당기 3분기말"] = df1["당기 3분기말"].apply(lambda x: int(x.replace(",","")))
df1["당기 3분기말"]

1         16991946452
2          1439377941
3            55366850
4          6609815861
5          2933775293
             ...
90746     18979117110
90747     -1002349479
90748     58123179461
90749     81756065092
90750    104382409753
Name: 당기 3분기말, Length: 82850, dtype: int64

In [71]:
# 항목명: 이익잉여금
df1["항목명"] = df1["항목명"].apply(lambda x: x.replace("(결손금)", ""))
df1["항목명"] = df1["항목명"].apply(lambda x: x.replace("결손금", "이익잉여금"))

In [72]:
# 항목명: 자본총계, 자산총계, 부채총계
df1["항목명"] = df1["항목명"].apply(lambda x: x.replace(" ",""))

In [73]:
df1 = df1[df1["항목명"].isin(["유동자산", "재고자산", "자산총계", "유동부채", "부채총계", "자본금", "이익잉여금", "자본총계"])]
df1.shape

(16308, 6)

In [74]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16308 entries, 1 to 90749
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   종목코드     16308 non-null  object
 1   회사명      16308 non-null  object
 2   업종       16308 non-null  int64
 3   업종명      16308 non-null  object
 4   항목명      16308 non-null  object
 5   당기 3분기말  16308 non-null  int64
dtypes: int64(2), object(4)
memory usage: 891.8+ KB

In [75]:
df1.head()

      종목코드 회사명   업종            업종명   항목명      당기 3분기말
1   060310  3S  292  특수 목적용 기계 제조업  유동자산  16991946452
6   060310  3S  292  특수 목적용 기계 제조업  재고자산   1295337163
19  060310  3S  292  특수 목적용 기계 제조업  자산총계  50319737982
21  060310  3S  292  특수 목적용 기계 제조업  유동부채  16292930635
32  060310  3S  292  특수 목적용 기계 제조업  부채총계  18963710964

In [77]:
df1.to_excel("2020_3분기보고서_01_재무상태표_20211102.xlsx")