# 1. sqlite3
- `RDBMS` : Relational DataBase Management System ( 관계형 데이터베이스 )
- local (server X)
- File based Processing: DB 하나가 File 한 개 
- Transaction with Backup File : commit, rollback
- UTF-8, UTF-16, Blob(이미지나 영상), 64-bit

# 2. sqlite3 설치
1. https://sqlite.org
- Precompiled Binaries for Windows > sqlite-tools-win32-x86-3380000.zip 설치
- C 드라이브 > Windows > System32에 exe 파일 붙여넣기
- cmd > c:\Windows > sqlite3
    - SQLite version ~
    - Connected to a transient in-memory database.
    - sqlite >
    - 위와 같이 뜨면 성공
2. https://sqlitebrowser.org/
- DB Browser for SQLite - .zip (no installer) for 32-bit Windows 설치
- C 드라이브에 `DB Browser for SQLite.exe` 붙여넣기
- 설치파일 실행

# 3. Create table & Column Types
<pre>
create table <table-name> (
    <column-name> <type> [primary key] [autoimcrement] [not null]
        [default <default-value>],
    <column-name> <type> ...
</pre>
- `type` : column의 type
    - Integer
    - Real
    - Text
    - Blob
- `primary key` : column이 row마다 다른 값이다.
- `autoimcrement` : 자동으로 순서 생성
- `not null` : 값이 무조건 있어야 한다.
- `default <default-value>` : 어떤 값도 주지 않았을 때, 기본값 설정

# Sqlite 실행
- cmd > DB 저장 경로 > sqlite3 test.db
    - sqlite >
- table 생성 (cmd 창에 한 줄씩 입력 > enter)
    <pre>
    create table Student (
    id integer primary key autoincrement not null,
    name text not null default 'aaa',
    mobile text null);
    </pre>
- `.schema` : DB의 모든 object를 의미
    <pre>
    sqlite> .schema
    CREATE TABLE Student (
    id integer primary key autoincrement not null,
    name text not null default 'aaa',
    mobile text null);
    CREATE TABLE sqlite_sequence(name,seq);
    </pre>
    - `sqlite_sequence(name,seq)` : autoincrement 때문에 붙게 됨
- 데이터 삽입 (`insert into Student(name, mobile) values`)
    <pre>
    sqlite > insert into Student(name, mobile) values('홍길동', '010-2323-4545');   # 삽입은 insert
    sqlite > insert into Student(name) values('둘리');
    sqlite > select * from Student;    # 확인은 select
    1|홍길동|010-2323-4545
    2|둘리|
    sqlite > select name from Student;
    홍길동
    둘리
    </pre>
- 컬럼 정렬 (`.mode column`)
    <pre>
    sqlite > .mode column
    sqlite > select name from Student;
    name
    ----
    홍길동
    둘리
    sqlite > select * from Student;    
    id  name  mobile
    --  ----  -------------
    1   홍길동   010-2323-4545
    2   둘리
    </pre>
- 컬럼 (`.headers on`)
    <pre>
    sqlite> .headers on
    sqlite> select * from Student;
    id  name  mobile
    --  ----  -------------
    1   홍길동   010-2323-4545
    2   둘리
    </pre>
- 폭 설정 (`.width 15 20 20`) : 숫자는 len
    <pre>
    sqlite> .width 15 20 20
    sqlite> select * from Student;
    id               name                  mobile
    ---------------  --------------------  --------------------
    1                홍길동                   010-2323-4545
    2                둘리
    </pre>
- table 확인 (`.tables`)
    <pre>
    sqlite> .tables
    Student
    </pre>