# Sqlite Shell Command
- 
<pre>
    sqlite> .schema
    CREATE TABLE Student (
    id integer primary key autoincrement not null,
    name text not null default 'aaa',
    mobile text null);
    CREATE TABLE sqlite_sequence(name,seq);
    sqlite> .schema Student
    CREATE TABLE Student (
    id integer primary key autoincrement not null,
    name text not null default 'aaa',
    mobile text null);
</pre>

- `sqlite_master`
<pre>
    sqlite> select type, name, tbl_name, sql from sqlite_master;
    table|Student|Student|CREATE TABLE Student (
    id integer primary key autoincrement not null,
    name text not null default 'aaa',
    mobile text null)
    table|sqlite_sequence|sqlite_sequence|CREATE TABLE sqlite_sequence(name,seq)
</pre>

- `nullvalue`
<pre>
    sqlite> .show
    echo: off
    eqp: off
    explain: auto
    headers: off
    mode: list
    nullvalue: ""    # null인 값 표현
    output: stdout
    colseparator: "|"
    rowseparator: "\n"
    stats: off
    width:
    filename: test.db
</pre>
- null값 채우기 : 실제로 값이 없는 것인지, 공백인지 모름
<pre>
    sqlite> .nullvalue NULL
    sqlite> select * from Student;
    1|홍길동|010-2323-4545
    2|둘리|NULL
</pre>
- `.dump` : DB의 데이터들을 파일(csv)로 변환
    - 데이터의 구조와 실제 데이터들을 몽땅 다 달라는 의미
<pre>
    sqlite> .dump
    PRAGMA foreign_keys=OFF;
    BEGIN TRANSACTION;
    CREATE TABLE Student (
    id integer primary key autoincrement not null,
    name text not null default 'aaa',
    mobile text null);
    INSERT INTO Student VALUES(1,'홍길동','010-2323-4545');
    INSERT INTO Student VALUES(2,'둘리',NULL);
    DELETE FROM sqlite_sequence;
    INSERT INTO sqlite_sequence VALUES('Student',2);
    COMMIT;
</pre>
- `.output` : 현재폴더 > db > students.sql
    - 복구 (backup) 
<pre>
    C:\Users\easya\HK_Project\4_DB(sqlite3)>mkdir db    # db라는 폴더 생성

    C:\Users\easya\HK_Project\4_DB(sqlite3)>sqlite3 test.db
    SQLite version 3.38.0 2022-02-22 18:58:40
    Enter ".help" for usage hints.
    sqlite> .schema
    CREATE TABLE Student (
    id integer primary key autoincrement not null,
    name text not null default 'aaa',
    mobile text null);
    CREATE TABLE sqlite_sequence(name,seq);
    sqlite> select * from Student;
    1|홍길동|010-2323-4545
    2|둘리|
    sqlite> .output ./db/students.sql
    sqlite> .dump
</pre>